.miscInfo {
	.proxyInfo {
		border-bottom: 1px solid white;
		display: none;
		visibility: hidden;
		
		&.OFFLINE_COPY {
			display:block;
			visibility: visible;

			background-color: $clipperz-blue;
			color: white;

			padding: 8px 10px 6px 10px;
			font-size: 9pt;

			.proxyDescription:after {
				content: ':';
			}

			.referenceDate {
				padding-left: 10px;
			}
		}
	}

	.accountStatus {
		border-bottom: 1px solid white;
		background-color: green;
		padding: 3px;
		font-size: 10pt;
	
		&.FULL {
			display: none;
			visibility: hidden;
		
			&.isExpiring {
				display: block;
				visibility: visible;
			
				background-color: yellow;
			}
		}
	
		&.TRIAL {
			background-color: orange;

			&.isExpiring {
				background-color: red;
			}
		}
	
		&.EXPIRED {
			background-color: red;
		}
	}
}