/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

.miscInfo {
	.proxyInfo {
		border-bottom: 1px solid white;
		display: none;
		visibility: hidden;
		
		&.OFFLINE_COPY {
			display:block;
			visibility: visible;

			background-color: $clipperz-blue;
			color: white;

			padding: 8px 10px 6px 10px;
			font-size: 9pt;

			&.withReferenceDate {
				.proxyDescription:after {
					content: ':';
				}
			}

			.referenceDate {
				padding-left: 10px;
			}
		}
	}

	.accountStatus {
		border-bottom: 1px solid white;
		background-color: green;
		padding: 3px;
		font-size: 10pt;
	
		&.undefined {
			display: none;
			visibility: hidden;
		}

		&.FULL {
			display: none;
			visibility: hidden;
		
			&.isExpiring {
				display: block;
				visibility: visible;
			
				background-color: yellow;
			}
		}
	
		&.TRIAL {
			background-color: orange;

			&.isExpiring {
				background-color: red;
			}
		}
	
		&.EXPIRED {
			background-color: red;
		}
	}
}