/*

Copyright 2008-2015 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

div.dialog {
	@include box-shadow(0px, 2px, 5px, rgba(50, 50, 50, 0.75));
	@include border-radius(8px);

	background-color: white;
	padding: 30px;
	
	h3.message {
		font-size: 18pt;
		font-weight: bold;
		padding-bottom: 20px;
	}
	
	div.answers {

		div.button {
			@include border-radius(4);
//			border: 1px solid black;
			margin-left: 10px;
			font-size: 16pt;
			padding: 15px 25px;
			background-color: #ddd;
			
			&.isDefault {
				font-weight: bold;
				color: white;
				background-color: #666;
			}
		}
	}
}
