/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

div.dialogBox {
	div.dialog {
		@include box-shadow(0px, 2px, 5px, rgba(50, 50, 50, 0.75));
		@include border-radius(8px);

		max-width: 70%;
		background-color: white;
		padding: 30px;
		box-shadow: 4px 4px 6px 5px rgba(0,0,0, 0.3);
	
		h3.message {
			font-size: 18pt;
			font-weight: bold;
			padding-bottom: 20px;
			white-space: pre-wrap;
			word-wrap: break-word;
		}
	
		div.answers {

			div.button {
				@include border-radius(4);
	//			border: 1px solid black;
				margin-left: 10px;
				font-size: 16pt;
				padding: 15px 25px;
				background-color: #ddd;
			
				&.isDefault {
					font-weight: bold;
					color: white;
					background-color: #666;
				}
			
				&.disabled {
					cursor: default;
					color: #aaa;
					background-color: #ddd;
					font-weight: normal;
				}
			}
		}
	}
}