/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

#errorPage {

	header {
		background-color: $clipperz-orange;
		color: white;
		height: 48px;
		text-align: center;
		@include icon-font();

		h2 {
			font-size: 24pt;
			padding-top: 8px;
		}
	}
	
	.error-box {
		@include border-radius(16px);
		background-color: #000;
		color: white;

		width: 300px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		
		div {
			padding: 20px;
			padding-bottom: 0px;
			p {
				font-size: 20pt;
				line-height: 1.5em;
				text-align: center;
				padding-bottom: 8px;
			}
			
			&.error-message {
				padding-top: 0px;
				p {
					font-size: 14pt;
					color: #333;
				}
			}
		}
	}


}