/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

//	$Loading_outer_color: $main-color;
//	$Loading_inner-color: lighten($Loading_outer-color, 30%);
//	
//	$Loading_h1-color:			lighten($Loading_inner-color, 70%);
//	$Loading_h3-color:			darken($Loading_outer-color, 20%);

#loadingPage {
//	@include radial-gradient($Loading_inner-color, $Loading_outer-color);
	background-color: $main-color;

	div {
		vertical-align: middle;
		width: 100%;
		text-align: center;

		h1 {
			font-size: 40pt;
			font-weight: bold;
//			color: $Loading_h1-color;
			color: $main-alternate-text-color;
			margin-top: 10%;
			margin-bottom: 5px;
		}

		h3 {
			font-size: 18pt;
//			color: $Loading_h3-color;
//			color: $main-text-color;
			color: $main-alternate-text-color;
			margin: 0px;
		}
	}
}
