#selections {
	background-color: $main-alternate-color;
	color: $main-alternate-text-color;
	font-size: 18pt;
	overflow: scroll;
//	height: 100%;

	$iconColumnWidth: 40px;

	ul.defaultSet {
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;

		li {
			&.allCards:before {
				content: "clipperz";
			}
			
			&.recentCards:before {
				content: "recent";
			}
		}
	}

	.search {
		label {
			@include icon-font();
			font-size: 18pt;
			padding-left: 5px;
			padding-right:5px;
		}
		
		input {
			font-family: "clipperz-font";
			color: #999;
			font-size: 18pt;
			width: $selectionPanelWidth - $iconColumnWidth - 10px;
		}
	}

	ul.tagList {
		padding-top: 10px;

		li {
			&:before {
				content: "tag";
			}
		}
	}
	
	li {
		padding-left: 35px;
		text-indent: -35px;

		padding-top: 7px;
		padding-bottom: 7px;

		cursor: pointer;

		&:before {
			@include icon-font();
			font-weight: normal;
			padding-left: 8px;
			padding-right: 8px;
			font-size: 14pt;
		}
	}
	
	.showArchivedCards {
	}
}