#selections {
	background-color: $main-alternate-color;
	color: $main-alternate-text-color;
	font-size: 18pt;
	@include overflow-scroll;
//	height: 100%;

	$iconColumnWidth: 40px;
	$spacing: 5px;

	ul.defaultSet {
		font-weight: bold;
		padding-top: 10px;
		padding-bottom: 10px;

		li {
			@include flexbox();
			@include flex-direction(row);

			
			span.label {
				@include flex(auto);
			}

			span.count {
				@include flex(none);
				@include align-self(flex-end);
			}

			&.allCards:before {
				content: "clipperz";
			}
			
			&.recentCards:before {
				content: "recent";
			}
			
			&.untaggedCards {
				padding-left: 35px;
			}
		}
	}

	.search {
		form {
			padding:2px;
			position:relative;
			box-sizing:border-box;
			width:95%;

			input {
				font-family: "clipperz-font";
				color: #999;
				font-size: 18pt;
				padding: 0px 30px;
				margin: 0px 5px;
				width: 100%;
				box-sizing:border-box;
			}

			label {
				@include icon-font();
				font-size: 18pt;
				padding-left: $spacing;
//				padding-right:5px;
				position:absolute;
				top:9px;
				left:9px;
				color: #666;
			}
		
			.searchClear {
				@include icon-font();
				@include border-radius(50%);
				background-color: #aaa;
				color: white;
				position:absolute;
				right:9px;
				top:9px;
				cursor: pointer;
				padding: 5px;
				font-size: 10pt;
			
				&:hover {
					background-color: #666;
				}
			}
		}

		.searchResultInfo {
//			color: #999;
			font-size: 10pt;
			padding: 2px 6px;
			display: none;

			label {
				padding-right: 3px;
			}
		}
	}

	ul.tagList {
		padding-top: 10px;

		li {
			&:before {
				content: "tag";
			}

			span.tagLabel {
			}
		
			span.tagCount {
				background-color: gray;
				font-size: 10pt;
				margin-left: 10px;
				padding: 0px 4px;
				@include border-radius(4px);
			}
		}
	}
	
	li {
//		padding-left: 35px;
//		text-indent: -35px;

		padding-top: 7px;
		padding-bottom: 7px;

		cursor: pointer;

		&:before {
			@include icon-font();
			font-weight: normal;
			padding-left: 8px;
			padding-right: 8px;
			font-size: 14pt;
			vertical-align: baseline;
		}
	}
	
	.showArchivedCards {
		@include flexbox();
		@include flex-direction(row);

		padding: 10px;
		font-size: 12pt;
		
		input {
			@include flex(none);
		}

		.label {
			@include flex(auto);
			padding-left: 5px;
		}

		.count {
			@include flex(none);
			@include align-self(flex-end);
			margin-right: 2px;
		}
	}
}

span.count {
	background-color: gray;
	font-size: 10pt;
	margin-right: 12px;
	padding: 3px 5px;
	@include border-radius(4px);

	color: white;
	font-weight: 300;
	vertical-align: middle;
}


//$selectionColor: yellow;
$selectionColor: $clipperz-orange;

#selections.ALL {
	li.allCards {
		color: $selectionColor;
	}
}

#selections.RECENT {
	li.recentCards {
		color: $selectionColor;
	}
}

#selections.UNTAGGED {
	li.untaggedCards {
		color: $selectionColor;
	}
}

#selections.SEARCH {
	div.search {
		.searchResultInfo {
			color: $selectionColor;
			display: block;
		}
	}
}

#selections.TAG {
	ul.tagList {
		li.selected {
			color: $selectionColor;
		}
	}
}


