#extraFeaturesPanel {
	background-color: $main-alternate-color;
	color: $main-alternate-text-color;
	
	header {
		text-align: right;
		height: 48px;
		font-size: 24pt;

		.button {
			float: right;
			@include icon-font();

			.label {
				padding-top: 8px;
				padding-right: 8px;
			}
		}

		.notifications-counter{
			float: right;
			font-size: 13px;
			background: none repeat scroll 0% 0% #F90;
			padding: 5px;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			font-weight: 900;
			line-height: 10px;
		}
	}

	.notifications{
		padding: 5px;
		background-color: #352F27;
		margin-bottom: 5px;

		label{
			font-size: 12px;
			margin-bottom: 7.5px;
		}		
		ul li{
			font-size: 15px;
			padding: 3px;
			margin-top: 5px;
			margin-bottom: 2px;
			border-radius: 3px;
			cursor: pointer;

			&:hover{
				opacity: 0.95;			
			}

			button.close{
				float: right;
				font-size: 15px;
				line-height: 1;
				color: #000;
				text-shadow: 0px 1px 0px #FFF;
				font-weight: 300;		
				padding: 0px;
				cursor: pointer;
				background: none repeat scroll 0px 0px transparent;
				border: 0px none;
				margin-top: -14.5px;
				margin-right: 2.5px;
			}

			&.warning{
				background-color: #ECFB09;
				color: #000;
			}
			&.information{
				background-color: #1DDAF0;
				color: #000;
			}
			&.critical{
				background-color: #F56363;

				button.close{
					color: #FFF;
					text-shadow: none;
				}
			}
		}
	}

	.account, .data, .donation{
		border-bottom: 1px solid #fff;

		ul li{
			cursor: pointer;
			padding: 10px;
			font-size: 18px;

			&:not(:last-child){
				border-bottom: 1px solid #352F27;
			}

			&:hover{
				background: none repeat scroll 0% 0% #ff9900;
			}
		}
	}
}
