#extraFeaturesPanel {
	background-color: $main-alternate-color;
	color: $main-alternate-text-color;
	
	header {
		text-align: right;
		height: 48px;
		font-size: 24pt;

		.button {
			@include icon-font();

			.label {
				padding-top: 8px;
				padding-right: 8px;
			}
		}
	}
}
