div#homePage {
    overflow: hidden;
    height: 100%;

    div#cardsManager {
        overflow: hidden;
        height: 100%;

        div.cardToolbarFrame {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
        
            header {
                display: flex;
                flex-direction: row;
                height: 48px;
                justify-content: space-between;
        
                div {
                    padding: 4px;
                    // flex: 0;
                    button {
                        background-color: inherit;
                        border: 0px;
                        color: $main-text-color;
                        font-size: 24pt;
                        font-family: 'clipperz-icons';
                        font-feature-settings: "liga" 1, "dlig" 1;
                        text-rendering: optimizeLegibility;
                    }

                    &.tags {
                        button {
                            cursor: pointer;
                        }
                        // flex: 1;
        
                    }

                    &.selection {
                        button {
                            font-size: 28pt;
                        }
                    }

                    &.menu {
                        button {
                            cursor: pointer;
                        }
                        align-content: flex-end;
                        // flex: 1;
                    }
            
                }
            }
        
            div#mainView {
                display: flex;
                overflow: hidden;
                height: 100%;
        
                background-color: $alternate-color;
                color: $alternate-text-color;
        
                div#indexView {
                    overflow: auto;
                    height: 100%;
                    z-index: 5;
                    box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.1);

                    & > button {
                        font-family: 'clipperz-icons';
                        font-feature-settings: "liga" 1, "dlig" 1;
                        text-rendering: optimizeLegibility;
        
                        border: 0px;
                        border-radius: 30px;
                        z-index: 5;
        
                        bottom: 0px;
                        font-size: 45pt;
                        color: white;
                        background-color: #1863a1;
                        box-shadow: 2px 8px 6px 0 rgba(0, 0, 0, 0.2);
                        width: 60px;
                        height: 60px;
                        position: absolute;
                        margin-left: 25%;
                        margin-bottom: 20px;
                        font-size: 36pt;
                        cursor: pointer;             
                        
                        &:hover {
                            background-color: #114875;
                        }
                    }
        
                    ol {
                        padding-bottom: 100px;
						background-color: #1863a1;
                        li {
                            cursor: pointer;
                            border-bottom: 1px solid #eee;
                            background-color: white;
                            transition: margin-left 0.1s ease-in-out, padding-right 0.1s ease-in-out;
                            white-space: pre-wrap;
                            word-wrap: break-word;
                            display: flex;
                            flex-direction: row; 
        
                            font-size: 14pt;
                            padding-top: 16px;
                            padding-bottom: 14px;
                            padding-left: 16px;
                            padding-right: 8px;
                            line-height: 1.2em;

                            &.selected {
                                margin-left: 40px;
                                padding-right: 0px;
                                box-shadow: -4px 0px 3px -1px rgba(0, 0, 0, 0.2);                                
                            }

							&.archived {
								background-color: #eeeeee;
								color: #999;
							}
                        }
                    }
                }

                div#card {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    height: 100%;

                    div.cardActions {
                        display: flex;
                        flex-direction: row;
                        height: 48px;

                        button {
                            flex: 1;
                            border: 0px;
                            font-size: 12pt;
                            background-color: $accent-color;
                            color: $accent-text-color;
                        }
                    }

                    div#cardContent {
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        height: 100%;

                        h3 {
                            user-select: text;
                            font-size: 24pt;
                            padding: 20px 20px 20px 42px;
                            border: 0px;
                        }
                        
                        div.card_tags {
                            padding: 10px;
                            ul {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                width: calc(100% - 31px);
                                flex-wrap: wrap;
                                padding-left: 31px;

                                &::before {
                                    margin-left: -32px;                                
                                    content: 'tag';
                                    font-family: 'clipperz-icons';
                                    font-feature-settings: "liga" 1, "dlig" 1;
                                    text-rendering: optimizeLegibility;
                                    font-size: 16pt;
                                    padding-right: 11px;
                                    line-height: 27px;
                                    color: #ccc;
                                }

                                li {
                                    flex: none;
                                    font-size: 13pt;
                                    font-weight: 100;
                                    margin-right: 10px;
                                    padding-left: 1px;
                                    padding-right: 30px;
                                    line-height: 27px;
                                }
                            }
                        }

                        div.card_fields {
                            padding: 10px 42px 10px 32px;
                            
                            div.fieldValue {
                                padding: 10px;

                                div.fieldLabel {
                                    color: gray;
                                    padding-bottom: 4px;
                                    margin-bottom: 4px;
                                    user-select: text;
                                }
                                textarea {
                                    outline: none;
                                    cursor: pointer;
                                    font-size: 18pt;
                                    line-height: 28px;
                                    user-select: text;
                                    resize: none;
                                    white-space: pre-wrap;
                                    word-wrap: break-word;
                                    border: 0px;
                                    width: 100%;
                                    height: 33px;

                                    &.PASSWORD {
                                        font-family: clipperz-password;
                                        font-size: 22pt;
                                        line-height: 28px;
                                        margin-top: -2px;                                        
                                    }
                                }
                            }
                        }
                        div.card_notes {
                            border: 0px;
                            font-size: 10pt;
                            padding: 10px 42px 10px 42px;

                            user-select: text;
                            line-height: 1.5em;
                            white-space: pre-wrap;
                        }
                    }

                }
            }
        }
    }
}

