@import "./palette.scss";
@import "../structure/mixin.scss";

// @media (prefers-color-scheme: light) {
// 	html {
// 		color-scheme: light;
// 	}
// }

// @media (prefers-color-scheme: dark) {
// 	html {
// 		color-scheme: dark;
// 	}
// }

html, input, button {
    font-family: clipperz-font;
}

body {
    background-color: $main-color;
}


div.page {
    color: $main-text-color;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // display: flex;

    div.content {
        display: flex;
        flex-direction: column;

		@include offlineHeader();

        header {
            width: 100%;
            text-align: center;
            padding: 10px 0px;

            flex: auto;
            // align-items: flex-end;

            h1 {
                font-size: 40pt;
                font-weight: bold;
                // color: $main-alternate-text-color;
                margin-top: 10%;
                margin-bottom: 5px;
            }

            h3 {
                font-size: 18pt;
                // color: $main-alternate-text-color;
                margin: 0px;
            }
        }

        div.body {
            flex: auto;
            align-items: flex-start;
            display: flex;

            margin-left: auto;
            margin-right: auto;
            // position: relative;
        }

        div.other {
            width: 100%;
            flex: none;
        }

        footer {
            width: 100%;
            flex: none;
        }
    }
}

.entropyWrapper {
	height: 2px;
	width: 10%;
	max-width: 100% !important;
	min-width: 10%  !important;

	&.veryWeak {
		background-color: rgb(255, 50, 54);
		// background-color: rgb(231, 64, 48);
	}
	&.weak {
		background-color: rgb(183, 92, 36);
		// background-color: rgb(159, 106, 30);
	}
	&.acceptable {
		background-color: rgb(135, 120, 24);
		// background-color: rgb(111, 134, 18);
	}
	&.strong {
		background-color: rgb(87, 148, 12);
		// background-color: rgb(63, 162, 6);
	}
	&.veryStrong {
		background-color: rgb(37, 173, 0);
	}
}

.shortcutsHelp {
	&.hidden {
		visibility: hidden;
		display: none;
	}

	.helpBox {
		width: calc(100vw - 40px);
		box-sizing: border-box;
		position: fixed;
		right: 20px;
		z-index: 50;
		padding-top: 4px;
        top: 20px;
		color: white;
		padding: 30px;
		border-radius: 20px;
		background-color: rgba(0, 0, 0, 0.75);

		header {
			border-bottom: 1px solid white;
			padding-bottom: 6px;

			button.close {
				float: right;
				display: block;
				font-family: 'clipperz-icons';
				font-feature-settings: "liga" 1, "dlig" 1;
				-webkit-font-smoothing: antialiased;
				text-rendering: optimizeLegibility;
				cursor: pointer;
				background: transparent;
				color: white;
				border: 0;
				position: relative;
    			bottom: 16px;
			}
		}

		.helpContent {
			padding-top: 4px;
			
			.helpBlock {
				padding-top: 8px;

				h4 { 
					font-size: 10pt;
					margin-left: 160px;
					color: yellow;
					padding-bottom: 3px;
				}

				dl { 
					font-size: 9pt; 

					dt {
						float: left;
						clear: left;
						width: 160px;
						text-align: right;
						padding-right: 4px;

						&::after { content: ":"; }

						span {
							vertical-align: middle;

							&.key 	   { color: yellow; }

							&.operator { 
								font-size: 7pt; 
								padding-left: 4px;
    							padding-right: 4px;
							}
						}
					}

					dd {
						margin-left: 160px;
						padding-bottom: 4px;
					}
				}
			}
		}
	}
}
