div.mainDiv > div.page.donation {
	.closeButton {
		button {
			@include icon-font;
			font-size: 18pt;
			color: #999;
			background-color: transparent;
			margin: 10px 0 0;
			padding: 0;
			border: 0;
			cursor: pointer;

			&:hover {
				color: #fff;
			}
		}
	}
}