$clipperz-orange:	#ff9900;
$clipperz-blue:		#1863a1;

// ------------------------------------------

// $main-color: $clipperz-orange;
// $main-color: #008afa;
$main-color: #9a24b2;
$main-text-color: white;

$alternate-color: white;
$alternate-text-color: black;

$core-alternate-color: black;
$core-alternate-text-color: white;

$accent-color: $clipperz-blue;
$accent-text-color: white;
