
// ======================================
/*
$clipperz-orange:	#ff9900;
$clipperz-blue:		#1863a1;

// ......................................

$main-color: $clipperz-orange;
$main-text-color: white;

$alternate-color: white;
$alternate-text-color: black;

$core-alternate-color: black;
$core-alternate-text-color: white;

$accent-color: $clipperz-blue;
$accent-text-color: white;

$neutral-color: #c0c0c0;
$neutral-text-color: white;

*/
// ======================================

$lgbt_purple: #9900ce;
$lgbt_blue:   #0002ff;
$lgbt_green:  #149602;
$lgbt_yellow: #f6f70e;
$lgbt_orange: #f2940b;
$lgbt_red:	  #f20808;

// ......................................

$main-color: $lgbt_purple;
$main-text-color: white;

$alternate-color: white;
$alternate-text-color: black;

$core-alternate-color: black;
$core-alternate-text-color: white;

// $accent-color: $lgbt_blue;
// $accent-color: $lgbt_orange;
$accent-color: #5f0080;
$accent-color-lighter: #7a00a2;
$accent-color-darker: #2b0039;
$accent-text-color: white;

$neutral-color: #c0c0c0;
$neutral-text-color: white;

// ======================================

$p1-purple: #6e49b3;
$p1-dark-purple: #4e2f7a;
$p1-cyan: #68f3fe;
$p1-dark: #dda1c2;
$p1-light: #e9d4fb;

// ......................................
/*
$main-color: $p1-dark-purple;
$main-text-color: white;

$alternate-color: white;
$alternate-text-color: black;

$core-alternate-color: black;
$core-alternate-text-color: white;

$accent-color: $p1-dark;
$accent-text-color: white;

$neutral-color: #c0c0c0;
$neutral-text-color: white;
*/
// ======================================
