@import "palette.scss";
@import "../structure/mixin.scss";

div#homePage div#cardsManager div.cardToolbarFrame div#mainView div#card #cardForm div.cardForm .cardFormFields .dragAndDropList .draggableElem .fieldForm .fieldActions div.passwordGeneratorOverlay div.passwordGeneratorPopup div.passwordGeneratorForm {
	position: absolute;
	// top: -185px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
    
	min-width: 220px;
	width: 80vw;
    max-width: 350px;
    border-radius: 6px;
    // -webkit-border-radius: 6px;
    // -moz-border-radius: 6px;
	
    color: #fff;
    background-color: #333333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

    font-size: 9pt;
	font-family: 'clipperz-font';

	.optionWrapper {
		display: flex;
		flex-direction: column;

		&.open {
			.passwordSettings {
				// transition: height 3s ease-in-out;
				height: auto;
				visibility: visible;
			}
		}

		&.close {
			.passwordSettings {
				// transition: height 3s ease-in-out;
				height: 0;
				visibility: hidden;
			}
		}
		
		header {
			height: 30px;
			border-bottom: 1px solid #666;
			background-color: inherit;
			justify-content: center;
    		align-items: center;
			padding-bottom: 3px;

			button {
				font-family: 'clipperz-icons';
				font-size: 28px;
				line-height: 30px;
				color: #999;
			}
		}

		.passwordSettings {
			background-color: white;
			color: black;
			display: flex;
			flex-direction: column;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 3px;
			border-bottom: 1px solid #aaa;
			// transition: height 0.3s ease-in-out;
	
			label.passwordLength, label.charList {
				padding-top: 2px;
	
				span {
					font-size: 8pt;
	
					&.unit {
						visibility: hidden;
					}
				}
	
				.passwordLength {
					input[type=number] {
						border: 1px solid black;
						font-weight: bold;
						font-size: 10pt;
						text-align: right;
						max-width: 50px;
						padding: 1px 2px;
					}
				}
	
				.charset {
					display: flex;
					flex-direction: column;
	
					.charsetSets {
						label {
							display: flex;
							flex-direction: row-reverse;
							justify-content: flex-start;
							align-items: center;
							
							padding-right: 5px;
							cursor: pointer;
							// display: inline-block;
							line-height: 10px;
							
							span {
								font-size: 10pt;
								color: black;
	
								&:after {
									content: "";
								}
							}
						}
					}
	
					div.dynamicWrap {
						display: grid;
						
						&::after {
							content: attr(replicatedvalue) " ";
							white-space: pre-wrap;
							visibility: hidden;
						}
		
						textarea {
							resize: none;
	
							&:focus {
								outline: 0;
							}
						}
		
						textarea, &::after {
							@include dontBreakOut;
							margin-top: 5px;
	
							color: gray;
							border: 1px solid black;
							resize: none;
							white-space: pre-wrap;
							word-wrap: break-word;
							max-height: 90px;
							max-width: 100%;
							font-size: 11pt;
    						line-height: 1.2;
	
							padding-bottom: 3px;
							
							grid-area: 1 / 1 / 2 / 2;
						}
					}
				}
			}
		}
	}

	.passwordGenerator {
		display: flex;
		justify-content: space-between;
		align-items: end;
		
		padding: 3px 0 10px;

		
		button.generatePassword, button.setPassword {
			font-family: 'clipperz-icons';
			padding: 0 0.5em;
			color: #999;
			font-size: 14pt;
			// width: 30px;
			line-height: 35px;
			margin: 0;
			text-align: left;

			font-weight: bold;
			text-align: left;
			height: inherit;

			&:hover {
				color: white;
			}
		}

		button.copy, button.sharePassword {
			visibility: hidden;
			display: none;
		}

		label {
			@include fancyHidden;
			flex: 1;
			
			div.generatedValue {
				display: block;
				flex: 1;
				
				div.dynamicWrap {
					display: grid;
					width: 100%;
					
					&::after {
						content: attr(replicatedvalue) " ";
						white-space: pre-wrap;
						visibility: hidden;
					}
	
					textarea {
						resize: none;
						// overflow: hidden;
	
						&:focus {
							outline: 0;
						}
					}
	
					textarea, &::after {
						@include dontBreakOut;
						font-size: 12pt;
						font-weight: bold;
						border: 0px;
						// width: 100%;
						line-height: 1.5em;
						white-space: pre-wrap;
						word-wrap: break-word;
						padding-bottom: 3px;

						max-height: 100px;
						
						grid-area: 1 / 1 / 2 / 2;
					}
				}
			}
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 100%;
		left: 10%;
		margin-left: 0px;
		width: 0;
		height: 0;
		border-top: 5px solid #333333;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
}