.passwordSettings {

    label {
        font-size: 12pt;

        &.passwordLength {
            input {
                text-align: right;
                width: 50px;
                appearance: textfield;
            }
        }

        span.label {
            &::after {
                content: ": ";
                color: gray;
            }
        }

        span.unit {
            padding-left: 4px;
        }
    }
}

// --------------------------------------------------------

// .extraFeatureContent {
div#userPage .extraFeatureContent {

    div#userPreferencesArea form ol li .passwordSettings {

        label {
            padding-left: 40px;

            &.passwordLength {

                input {
                    font-size: 14pt;
                    background-color: black;
                    color: white;
                    border: 1px solid #303030;
                }
            }

            .charset {
                margin-top: 6px;
                margin-bottom: 6px;

				display: flex;

                .charsetSets {
                    & > label {
                        margin: 0px;
                        padding-left: 20px;
                        display: flex;
                        flex-direction: row;

                        span.label {
                            width: 60px;
                        }
                    }
                }

				.dynamicWrap {
					flex: 1;
					display: flex;

					textarea {
						margin-left: 20px;
						padding: 5px;
						max-width: 350px;
						flex-grow: 1;
						resize: none;
					}
				}
            }
        }
    }
}

// ........................................................

.passwordGeneratorOverlay {
    .passwordSettings {

    }
}

// ========================================================

