@import "palette.scss";
@import "hide.scss";
@import "../structure/mixin.scss";

div#userPage {
    div.panel {
        background-color: black;

        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
    
        header {
            flex: 0;
            display: flex;
            flex-direction: row;
            height: 48px;
            padding-bottom: 0px;
            justify-content: flex-end;
    
            div {
                padding: 4px;
                button {
                    cursor: pointer;
                    background-color: inherit;
                    border: 0px;
                    color: $main-text-color;
                    font-size: 24pt;
                    font-family: 'clipperz-icons';
                    font-feature-settings: "liga" 1, "dlig" 1;
                    text-rendering: optimizeLegibility;
                }
            }
        }
		
		& > ul#userSidebar {
			border-top: 1px solid white;
			flex: 1;
			overflow: auto;

			& > li {
				border-bottom: 1px solid white;
				// padding: 10px;

				button, a {
					display: block;
					width: 100%;
					text-align: left;
					border: 0px;
					padding: 10px;
					cursor: pointer;
					font-size: 16pt;
					line-height: 1em;
					color: white;
					background-color: inherit;
				}

				a.link {
					width: auto;
				}

				ul.userSidebarSubitems {
					&.hidden {
						display: none;
						visibility: hidden;
					}

					li {

						&.selected {
							background-color: #333;
						}


						button {
							padding: 10px;
							padding-left: 20px;
							font-weight: 300;
							font-size: 14pt;

							&:disabled {
								color: #c0c0c0;
								cursor: not-allowed;
							}
						}
					}
				}
			}
		}

        footer {
            background-color: $core-alternate-color;
			font-size: 8pt;
			padding: 5px 5px 5px 5px;
			border-top: 1px solid #999999;

            .footerContent {
                text-align: center;

                max-height: 50px;

                .applicationVersion {
                    padding: 2px;
                    font-size: 8pt;
                    
                    span {
                        color: $core-alternate-text-color;
                        white-space: nowrap;
                        &:after {
                            content: ":";
                        };
                    }
    
                    a {
						display: block;
						color: $core-alternate-text-color;

                        text-decoration: none;
                        padding-left: 5px;
                        font-weight: bold;
                    }
                }
                    
            }
        }
    }

    .extraFeatureContent {
        display: flex;
        flex-direction: column;

		border-right: 1px solid #222;
		
        &.open {
			background-color: black;
			height: 100%;
			overflow: auto;

			div.disableOverlay {
				padding: 0;
				left: 50vw;
			}

            header {
                border-bottom: 1px solid white;
                height: 48px;

                div {
                    button {
                        cursor: pointer;
                        background-color: inherit;
                        border: 0px;
                        color: $main-text-color;
                        font-size: 16pt;
                        font-family: 'clipperz-icons';
                        font-feature-settings: "liga" 1, "dlig" 1;
                        text-rendering: optimizeLegibility;

                        padding-top: 15px;
                        padding-left: 10px;
                    }
                }
            }

            & > div {
                padding: 0 20px 20px;

                form {
                    h1 {
                        font-size: 20pt;
                        padding: 20px 0;
                    }

                    button {
						display: inline-block;
                        background-color: $main-color;
                        color: $main-text-color;
                        font-size: 14pt;
                        border: 1px solid $main-text-color;
                        padding: 10px 14px;
						margin-top: 20px;
						
                        cursor: pointer;
						width: fit-content;

                        &:disabled {
                            cursor: default;
                            background-color: #c0c0c0;
                        }
                    }
                }
            }
        }

		#userPreferencesArea {
			form {
				ol {
					// padding-bottom: 20px;
	
					li {
						padding-bottom: 20px;
	
						h3 {
							font-size: 18pt;
							border-bottom: 1px solid white;
						}
						label {
							display: block;
							margin-top: 8px;
							margin-bottom: 8px;
	
							&.autolock {
								display: flex;
								flex-direction: row-reverse;
								justify-content: flex-end;
	
								input {
									margin: 0px;
									width: 40px;
								}
							}
	
							&.lockTime {
								color: gray;
								padding-left: 40px;
	
								&.enabled {
									color: white;
								}
	
								span.label {
									&::after {
										content: ": ";
									}
								}
	
								input {
									font-size: 13pt;
									width: 50px;
									text-align: right;
									background-color: black;
									color: white;
									border: 1px solid #333;
									appearance: textfield;
	
									&:disabled {
										color: gray;
									}
								}
	
								span.units {
									margin-left: 6px;
								}
							}
						}
	
						.passwordGeneratorSettings {
							padding-left: 40px;
						}
					}
				}

				button {
					margin-top: 0;
				}
			}
		}

        #changePasswordArea, #deleteUserArea {
            label {
				@include fancyHidden();
				display: block;

				input {
					font-size: 18pt;
					padding: 6px 10px;
					border: 0px solid white;
					width: 350px;
					margin-bottom: 8px;
					color: #999;

					&::placeholder {
						color: #aaa;
					}
				}

                &.no_recovery, &.warning {
                    @include fancyVisible();
					
					padding-top: 8px;
					display: flex;
					flex-direction: row-reverse;

					input {
						flex-grow: 0;
						align-self: flex-start;
						width: 30px;
					}

					span {
						flex: auto;
						font-size: 12pt;
						display: block;
						cursor: pointer;
						line-height: 1.5em;
					}
                }

                &.valid {
                    input {
                        color: black;
                    }
                }
            }
        }

		#pinPage {
			
			.description {
				padding: 10px 0px 20px 0px;

				p {
					font-size: 10pt;
					padding: 10px 0px 20px 0px;
					margin-bottom: 7px;
					line-height: 1.4em;
					color: #bbb;

					strong {
						font-weight: bold;
					}
				}
			}

			.content {
				@include fancyHidden();

				display: flex;

				input {
					&:enabled {
						border: 2px solid $main-color;
					}

					display: block;
					width: 4em;
					margin-top: 8px;
					font-size: 18pt;
					padding: 6px 10px;
				}
			}
		}
    }
}