@import "behavior.scss";

html {
    position: fixed;
    height: 100%;
    width: 100%;

    body {

        div.page {
            @include pageElement();

            div.content {
                height: 100%;
                overflow: auto;
            }
        }
    }
}


