/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

@import "core/reset";
@import "core/palette";
@import "core/parameters";
@import "core/fonts";
//@import "core/clipperz-font/source-code-pro";
@import "core/clipperz-font/dejavu";
//@import "core/clipperz-font/camingo-code";
@import "core/flex";
@import "core/overlay";
@import "core/behavior";
@import "core/layout";
@import "core/tagEditor";

@import "style/loadingPage";
@import "style/loginPage";
@import "style/errorPage";
@import "style/selectionPanel";
@import "style/settingsPanel";
@import "style/accountStatus";
@import "style/card";
@import "style/dialogBox";
@import "style/help";

//----------------------------------------------------------------------------

body {
	font-family: "clipperz-font";
	margin: 0;
	padding: 0;
}

body:after {
	display: none;
}

input {
	font-family: "clipperz-font";
}

textarea {
	font-family: "clipperz-font";
}

@import "core/sizes";

//@import "sizes/narrow";
//@import "sizes/wide";
//@import "sizes/extra-wide";
//@import "sizes/extra-short";
