@import "core/reset";
@import "core/palette";
@import "core/parameters";
@import "core/fonts";
//@import "core/clipperz-font/source-code-pro";
@import "core/clipperz-font/dejavu";
@import "core/flex";
@import "core/overlay";
@import "core/behavior";
@import "core/layout";
@import "core/tagEditor";

@import "style/loadingPage";
@import "style/loginPage";
@import "style/registrationPage";
@import "style/selectionPanel";
@import "style/settingsPanel";
@import "style/accountStatus";
@import "style/card";
@import "style/dialogBox";

//----------------------------------------------------------------------------

body {
	font-family: "clipperz-font";
	margin: 0;
	padding: 0;
}

body:after {
	display: none;
}

input {
	font-family: "clipperz-font";
}

textarea {
	font-family: "clipperz-font";
}

@import "core/sizes";

//@import "sizes/narrow";
//@import "sizes/wide";
//@import "sizes/extra-wide";
//@import "sizes/extra-short";


