/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

.test_ok {
	color: green;
	display: none;
}
.test_not_ok {
	color: red;
	display: block;
}

.test_ok, .test_not_ok {
   border-bottom-width: 2px;
   border-bottom-style: solid;
   border-bottom-color: black;
}

.all_pass {
    background-color: lime;
}

.some_fail {
    background-color: red;
}

.tests_report {
	border-width: 2px;
	border-style: solid;
	width: 20em;
}
