<!--

Copyright 2008-2015 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

-->

<html>
<head>
	<title>Card Dialog EDITING - test</title>
    <script type="text/javascript" src="../../../../js/MochiKit/MochiKit.js"></script>
    <script type='text/javascript' src='../../../../js/JSON/json2.js'></script>

    <script type='text/javascript' src='../../../../js/Clipperz/YUI/Utils.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/YUI/DomHelper.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Base.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Date.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/DOM.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/ByteArray.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Logging.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Async.js'></script>

	<script type='text/javascript' src='../../../../js/Clipperz/Signal.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/Style.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/Visual.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/Set.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/KeyValueObjectStore.js'></script>

    <script type='text/javascript' src='../../../../js/Clipperz/Crypto/Base.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Crypto/BigInt.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Crypto/AES.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Crypto/SHA.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Crypto/PRNG.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Crypto/SRP.js'></script>
                                                    
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Toll.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Proxy.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Proxy/Proxy.Offline.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Proxy/Proxy.Test.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Proxy/Proxy.Offline.DataStore.js'></script>
                                                    
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Connection.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Crypto.js'></script>
                                                    
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Strings.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Strings/Strings_en-US.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/Date.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/BookmarkletProcessor.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/EncryptedRemoteObject.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/Record.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/Record.Version.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/Record.Version.Field.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/DirectLogin.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/DirectLoginInput.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/DirectLoginBinding.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/DirectLoginFormValue.js'></script>
    <!-- script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/Record.Field.js'></script -->
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/User.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/User.Header.Legacy.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/User.Header.RecordIndex.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/User.Header.Preferences.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/User.Header.OneTimePasswords.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/DataModel/OneTimePassword.js'></script>

    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/BaseComponent.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/ComponentSlot.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/FaviconComponent.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/PasswordEntropyDisplay.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/ProgressBar.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/SimpleMessagePanel.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/TabPanelComponent.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/Tooltip.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Components/TranslatorWidget.js'></script>

    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/RulerComponent.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/CardDialogComponent.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/CardDialogRecordFieldComponent.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/CardDialogRecordDirectLoginComponent.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/DirectLoginEditingComponent.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/DirectLoginEditingBindingComponent.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/DirectLoginEditingFormValueComponent.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/BookmarkletComponent.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Components/PasswordTooltip.js'></script>

	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Controllers/ProgressBarController.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Controllers/TabPanelController.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Common/Controllers/DirectLoginRunner.js'></script>

    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Controllers/DirectLoginWizardController.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/PM/UI/Web/Controllers/CardDialogController.js'></script>

    <script type='text/javascript' src='./User.data.js'></script>
    <script type='text/javascript' src='./CardDialogEditing_test.js'></script>
<script>
	Clipperz_IEisBroken = false;
</script>

<!--[if IE]><script>
Clipperz_IEisBroken = true;
</script><![endif]-->

	<link rel="stylesheet" type="text/css" href="../../../../css/clipperz/clipperz.css" />
	<link rel="stylesheet" type="text/css" href="../../../../css/clipperz/compact.css" />
	<link rel="stylesheet" type="text/css" href="../../../../css/clipperz/ytheme-clipperz.css" />

</head>
<body>

<div id="tableWrapper"></div>

</body>
</html>
