/*

Copyright 2008-2015 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

body {
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  color: #666666;
}
div.header {
  padding: 20px 25px;
  background-color: #1f2148;
}
div#logo {
  background: url(./images/old/logo.png);
  width: 150px;
  height: 39px;
  display: block;
}
h5.clipperzPayoff {
  color: white;
  font-size: 13pt;
  font-weight: normal;
  padding-left: 20px;
  white-space: nowrap;
  margin: 0px;
  padding-left: 4px;
}
/*
h1 {
	font-size: 40pt;
	color: #333366;
}

h1 span.logo_z {
	color: #ff9400;
}
*/
div.contentWrapper {
  padding: 20px;
}
div.block1 {
  float: left;
  margin-right: 40px;
}
div.block2 {
  float: left;
}
div.languageBlock {
  clear: both;
  padding-top: 20px;
}
div.flags {
  float: left;
}
div.content {
  float: left;
  margin-left: 20px;
  width: 300px;
}
h3 {
  margin: 0px;
  padding-top: 10px;
}
p {
  font-size: 10pt;
  line-height: 20px;
}
/* @group RSS feed */
body.iFrame {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: Helvetica, Arial, Geneva, sans-serif;
}
div#feedContent ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
div#feedContent ul li {
  display: none;
}
div#feedContent ul li.selected {
  display: block;
  padding-top: 6px;
}
div#feedContent ul li.selected em.date {
  display: none;
}
div#feedContent ul li.selected a {
  display: none;
}
div#feedContent ul li.selected h2 {
  font-size: 8pt;
  color: #c3c4cf;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
div#feedContent ul li.selected p {
  font-size: 8pt;
  color: #c3c4cf;
  margin: 0px;
  display: inline;
  line-height: 15px;
}
div#feedContent ul li.selected p a {
  font-size: 8pt;
  color: #c3c4cf;
  display: inline;
}
div.languageBlock div.flags {
  height: 64px;
  width: 64px;
}
div.languageBlock.en-us div.flags {
  background: url(./images/old/flags/en.png);
}
div.languageBlock.zh-cn div.flags {
  background: url(./images/old/flags/cn.png);
}
div.languageBlock.fr-fr div.flags {
  background: url(./images/old/flags/fr.png);
}
div.languageBlock.it-it div.flags {
  background: url(./images/old/flags/it.png);
}
div.languageBlock.ja-jp div.flags {
  background: url(./images/old/flags/jp.png);
}
div.languageBlock.pt-br div.flags {
  background: url(./images/old/flags/br.png);
}
div.languageBlock.es-es div.flags {
  background: url(./images/old/flags/es.png);
}
div.languageBlock.ru-ru div.flags {
  background: url(./images/old/flags/ru.png);
}
div.languageBlock.de-de div.flags {
  background: url(./images/old/flags/de.png);
}
/* @end */
