/*

Copyright 2008-2015 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

/* @override 
	http://localhost:8000/tests/js/tests/Bookmarklet/Bookmarklet.css
	http://www.clipperz.com/files/clipperz.com/bookmarklet/0.3.0/Bookmarklet.css
*/

div#clipperzBookmarklet {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	

	position: absolute;
	top: 80px;
	left: 100px;
	width: 202px;
	height: 202px;
	background: url(./background.png) no-repeat;
}

div#clipperzBookmarklet div#clipperzBookmarkletClose {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	

	position: absolute;
	left: 168px;
	top: 5px;
	width: 25px;
	height: 25px;
	background: url(./close.png) no-repeat;
}

div#clipperzBookmarklet div#clipperzBookmarkletClose:hover {
	background: url(./close_selected.png) no-repeat;
	cursor: pointer;
}

div#clipperzBookmarklet div#clipperzBookmarkletResult {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	

	position: absolute;
	width: 145px;
	top: 61px;
	left: 27px;
	height: 63px;
	overflow: hidden;
}

div#clipperzBookmarklet div#clipperzBookmarkletResultIcon {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	
	width: 28px;
	height: 35px;
	position: absolute;
}

div#clipperzBookmarklet div#clipperzBookmarkletResultIcon.ok {
	background: transparent url(./info.png);	
}

div#clipperzBookmarklet div#clipperzBookmarkletResultIcon.fail {
	background: transparent url(./error.png);	
}

div#clipperzBookmarklet div#clipperzBookmarkletResult p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	

	font-family: Helvetica, Arial, Geneva, sans-serif;
	color: #898e7d;
	font-size: 14px;
	margin-left: 35px;
}

div#clipperzBookmarklet div#clipperzBookmarletButton {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	

	position: absolute;
	top: 125px;
	left: 26px;
	width: 148px;
	height: 49px;
	background: url(./copy.png) no-repeat;
}

div#clipperzBookmarklet div#clipperzBookmarletButton span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	
	display: block;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	font-weight: bold;
	font-size: 14pt;
	padding-left: 60px;
	padding-top: 12px;
	color: #838975;
}

div#clipperzBookmarklet div#clipperzBookmarletButton.hover {
	background: url(./copy_selected.png) no-repeat;
}


div#clipperzBookmarklet div#clipperzBookmarletAfterCopyHint.hidden {
	display: none;
}


div#clipperzBookmarklet div#clipperzBookmarletAfterCopyHint {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	

	position: absolute;
	top: 78px;
	left: 135px;
	width: 171px;
	height: 72px;
	background: url(./hint.png) no-repeat;
}

div#clipperzBookmarklet div#clipperzBookmarletAfterCopyHint p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	

	padding: 10px;
	font-family: Helvetica, Arial, Geneva, sans-serif;
	color: white;
	font-size: 13px;
}