/*

Copyright 2008-2015 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

@import "parameters";

html {
	position: fixed;
	height: 100%;
	width: 100%;
}

.page {
	@include pageElement();
//	@include user-select(none);
}

input[type=text] {
	-webkit-appearance: none;	
}

.mainPage {
//	background-color: yellow;
}

.mainPage > #selectionPanel {
	@include sliding-panel(left, $selectionPanelWidth);
	@include overflow-auto;
//	overflow: auto;

	&.open {
		@include sliding-panel-open(left, $selectionPanelWidth);
	}
}

#selections {
	@include flexbox();
	@include flex-direction(column);
//	min-height: 100%;
	height: 100%;

	ul.defaultSet {
		@include flex(none);
	}

	.search {
		@include flex(none);
	}

	ul.tagList {
		@include flex(auto);
		margin-left: 0px;
//		overflow-y: scroll;
//		overflow:auto;
		@include overflow-auto;

		li {
//			@include flexbox();

			span.tagLabel {
//				@include flex(auto);
			}
			
			span.tagCount {
//				@include flex(none);
			}
		}
	}
	
	.showArchivedCards {
		@include flex(none);
		
		cursor: pointer;
	}
}

#mainPanel {
//	background-color: $yellow;
	left: 0px;

	&.extra-wide {
		@include sliding-panel-container();
		
		.container {
			@include flexbox;
		}
		
		.subpanel {
			
			&.selection {
				@include flex($selectionPanelFlexWidth, 0);
//				height: 100%;
//				@include overflow-auto;
			}
			
			&.cardContent {
				@include flex($cardContentPanelFlexWidth);
				@include flexbox;
				@include flex-direction(column);
			}
		}
		
		.selectionToggle {
			.button {
				display: none;
				visibility: hidden;
			}
		}

		div.addCardButton {
			margin-left: 20%;
		}
	}

	&.wide {
		transition: left 0.3s ease-in-out;
		.container {
			@include sliding-panel-container();
		}
	}

	&.narrow {
		transition: left 0.3s ease-in-out;
		.container {
			@include sliding-panel-container();
		}

		.column {
			@include pageElement();
		}
		
		div.addCardButton {
			margin-left: 75%;
		}
	}

	&.open.left {
//		transition: left 0.3s ease-in-out;
		@include sliding-panel-wrapper-open (left, $selectionPanelWidth);
		@include mask();
	}

	&.open.right {
//		@include sliding-panel-wrapper-open (right, $settingsPanelWidth);
		@include mask();
	}

}

.mainPage.narrow {
	#extraFeaturesPanel {
		&.fullOpen {
			.extraFeatureIndex {
				width: 0px;
			}
		}
		
	}
}

#extraFeaturesPanel {
	@include sliding-panel(right, $settingsPanelWidth);

//	transition: right 0.3s ease-in-out;

	&.open {
		@include sliding-panel-open(right, $settingsPanelWidth);
	}

	.extraFeatureContent {
		display: none;
	}

	&.fullOpen {
//		right: 0px;
		width: 100%;
		.extraFeatureContent {
			display: block;
		}
	}

	@include flexbox();
	@include flex-direction(row-reverse);

	.extraFeatureIndex {
		@include flex(none);

		width: $settingsPanelWidth;
		height: 100%;
		@include flexbox();
		@include flex-direction(column);

		header {
			@include flex(none);
		}
	
		& > div {
			@include flex(auto);
		
			@include overflow-auto();
//			overflow: auto;
		
		}

		footer {
			@include flex(none);
		}
	}

	.extraFeatureContent {
//		display: none;
		@include flex(auto);
		width: 100%;
		height: 100%;
//		background-color: rgba( 0, 0, 0, 0.95);
		background-color: black;

		.extraFeature {
			@include flexbox();
			@include flex-direction(column);
			height: 100%;
		
			.header {
				@include flex(none);
				padding: 20px;
			}
			.content {
				@include flex(auto);
//				height: 100%;
				padding: 0px 20px 20px 20px;
				@include overflow-auto();
			}
		}
	}
}

.container {
	height: 100%;
	width: 100%;
}

.cardToolbarFrame {
	width: 100%;
	height: 100%;
	
	@include flexbox;
	@include flex-direction(column);

	.cardToolbar {
		@include flex(none);
		
	}
	
	.cardContent {
	}
}

div.cardToolbar {
//	background-color: $orange;
	
	header {
		@include flexbox;
		height: $mainCardToolbarHeight;
		line-height: $mainCardToolbarHeight;
		
		background-color: $clipperz-orange;
		color: white;
		font-size: 24pt;

		div {
			
			&.clipperz {
				
				span.logo {
					@include icon-font();

					@include align-self(center);
					@include flex(4);
					text-align: center;
					
					&.tag, &.search {
						font-size: 14pt;
					}
				}
				
				span.value {
					display: inline-block;
					padding-left: 5px;
					font-size: 18pt;
				}
			}
		
			&.selectionToggle {
				@include flex(1);

				.button {
					text-align: left;

					.label {
						padding-left: 8px;
					}
				}
			}

//			&.logo {
//				@include align-self(center);
//				@include flex(4);
//				text-align: center;
//			}

			&.settingsToggle {
				@include flex(1);

				.button {
					text-align: right;

					.label {
						padding-right: 8px;
					}
				}
			}
			
			.button {
				overflow: hidden;
				font-size: 24pt;
				@include icon-font();
				vertical-align: center;
			}
		}
	}
}


div.cardContent {
//	@include flex(flex-grow);	//	???

	@include flexbox();
	@include flex-direction(row);
	height: 100%;

	div.cardListColumn.column {
		@include flex($cardListWidth, 0);
		@include flexbox;
//		overflow-y: scroll;
//		overflow:auto;
//		@include overflow-auto;
		overflow: hidden;
		

		z-index: 5;
		box-shadow: 2px 0 6px 0 rgba(0,0,0, 0.1);

		div.cardToolbar.narrow {
		}
		
		&.addCard {
			div.cardList {
				padding-bottom: 100px;
			}
		}
		
		div.cardList {
			@include overflow-auto;
			width: 100%;
		}

		$addButtonSize: 60px;
		div.addCardButton {
			@include icon-font();
			@include border-radius($addButtonSize / 2);
			z-index: 1;
//			@include radial-gradient (white, rgba(0, 0, 0, 0));
			
			position: relative;
			bottom: 0px;
			font-size: 45pt;
//			text-align: center;
//			line-height: 56px;

			color: white;
			background-color: $clipperz-blue;
			box-shadow: 2px 8px 6px 0 rgba(0,0,0, 0.2);

			width: $addButtonSize;
			height: $addButtonSize;
			
//			float: right;
			position: absolute;
//			margin-left: 150px;
			margin-left: 25%;
			margin-bottom: 20px;
			
			cursor: pointer;
			
			&:hover {
				background-color: darken($clipperz-blue, 10%);
			};
		}
	}

	div.cardDetail.column {
		@include flex($cardDetailWidth);

		@include flexbox();

		div.editWrapper {
			@include flex(auto);
			@include mask();

			@include flexbox;
			& > div.edit {
				@include flex(auto);
				@include flexbox;
				@include flex-direction(column);

				box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);

				position: relative;
				z-index: 10+1;
				
				.content {
//					background-color: yellow;
					background-color: white;
				}
			}
			
			.mask {
//				background-color: rgba(255, 255, 255, 0.8);
//				background-color: rgba(24, 99, 161, 0.6);
				background-color: rgba(0, 0, 0, 0.6);
			}
		}

		& > div.view /*, & > div.editWrapper > div.edit */ {
			@include flex(auto);

			@include flexbox;
			@include flex-direction(column);
		}

		.content {
			@include flex(auto);
//			overflow-y: scroll;
//			overflow:auto;
			@include overflow-auto();
		}
	}
}


#cardDetailPage {
	& > .view, & > .editWrapper > .edit {
		@include flexbox();
		@include flex-direction(column);
		height: 100%;

		.content {
			@include flex(auto);
			overflow-y: scroll;
		}
	}
}

.cardDetailToolbar {
	@include flex(none);
	height: $mainCardToolbarHeight;
	line-height: $mainCardToolbarHeight;
	
	&.edit {
		li.save {
			cursor: default;
		}
		
		&.hasPendingChanges {
			li.save {
				cursor: pointer;
			}
		}
	}

	&.commands > div {
		@include flexbox();
		@include flex-direction(row);
//				font-size: 24pt;

		.back {
			@include flex(auto);
			cursor: pointer;
		}
	
		.cardMenuOptions {
			@include flex(auto);
			cursor: pointer;
		}
	}
	
//	&.edit {
//		ul {
//			@include flexbox();
//			@include flex-direction(row);
//
//			li {
//				@include flex(auto);
//				cursor: pointer;
//			}
//		}
//	}

	ul {
		@include flexbox();
//		@include flex-direction(row);
		@include flex-direction(row-reverse);

		li {
			@include flex(auto);
			cursor: pointer;
	
			span {
			}
		}
	}
}


.button {
	cursor: pointer;
	
	&.disabled {
		cursor: default;
	}
}


div.dialogBox {
	@include mask();

	@include flexbox();
	@include align-items(center);
	@include justify-content(center);

	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;

	.mask {
		z-index: 25;
	}
	div.dialog {
		@include flex(none);
		z-index: 99999;

		h3.message {
		}
		
		div.answers {
			@include flexbox();
			@include flex-direction(row);
			@include justify-content(flex-end);
			
			div.button {
				@include flex(none);
				cursor: pointer;
				
				&.isDefault {
				}
			}
		}
	}
}
