/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

//
//	SOLARIZED palette
//	http://ethanschoonover.com/solarized
//
$solarize-Background-15: #002b36;
$solarize-Background-20: #073642;

$solarize-Content-45: #586375;
$solarize-Content-50: #657b83;
$solarize-Content-60: #839496;
$solarize-Content-65: #93a1a1;

$solarize-Background-92:	#eee8d5;
$solarize-Background-97:	#fdf6e3;

$solarize-Accent-Yellow:	#b58900;
$solarize-Accent-Orange:	#cb4b16;
$solarize-Accent-Red:		#dc322f;
$solarize-Accent-Magenta:	#d33682;
$solarize-Accent-Violet:	#6c71c4;
$solarize-Accent-Blue:		#268bd2;
$solarize-Accent-Cyan:		#2aa198;
$solarize-Accent-Green:		#859900;


//
//	Flat UI
//	http://designmodo.github.io/Flat-UI/
//

$turquoise:		#1abc9c;
$green-sea:		#16a085;

$emerald:		#2ecc71;
$nephritis:		#27ae60;

$peter-river:	#3498db;
$belize-hole:	#2980b9;

$amethyst:		#9b59b6;
$wisteria:		#8e44ad;

$wet-asphalt:	#34495e;
$midnight-blue:	#2c3e50;

$sun-flower:	#f1c40f;
$orange:		#f39c12;

$carrot:		#e67e22;
$pumpkin:		#d35400;

$alizarin:		#e74c3c;
$pomegranate:	#c0392b;

$clouds:		#ecf0f1;
$silver:		#bdc3c7;

$concrete:		#95a5a6;
$asbestos:		#7f8c8d;


//-------------------------------------------------

$clipperz-orange:	#ff9900;
$clipperz-blue:		#1863a1;
$terminal-green:	#23ff18;



$main-color: $clipperz-orange;
$main-text-color: black;

$main-alternate-color: black;
$main-alternate-text-color: white;