//$selectionPanelWidth: 200px;
//$cardListWidth: 200px;

$selectionPanelWidth: 1;
$cardContentPanelWidth: 4;

$mainCardToolbarHeight: 48px;

$cardListWidth: 1;
$cardDetailWidth: 2;

$selectionPanelWidth: 300px;
$settingsPanelWidth: 300px;


