//$selectionPanelWidth: 200px;
//$cardListWidth: 200px;

$selectionPanelFlexWidth: 1;
$cardContentPanelFlexWidth: 4;

$mainCardToolbarHeight: 48px;

$cardListWidth: 1;
$cardDetailWidth: 2;

$selectionPanelWidth: 250px;
$settingsPanelWidth: 300px;

