/*

Copyright 2008-2018 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

/*

Bootstrap CSS suggests these size breakpoints:

- Extra small devices Phones (<768px)
- Small devices Tablets (≥768px)
- Medium devices Desktops (≥992px)
- Large devices Desktops (≥1200px)


# ATTENTION
When adding a new 'size', remember to update also MQ.init invocation in main.js.
This configuration is now located in the first script included in the index_template.html file.

*/

@media only screen and (min-width: 100px) {
	html {
		font-family: "narrow";
	}
	body:after {
		content: "narrow";
	}
}

@media only screen and (min-width: 700px) {
	html {
		font-family: "wide";
	}
	body:after {
		content: "wide";
	}
}

@media only screen and (min-width: 1100px) {
	html {
		font-family: "extra-wide";
	}
	body:after {
		content: "extra-wide";
	}
}
/*
@media only screen and (min-width: 100px) and (max-height: 450px) {
	html {
		font-family: "extra-short";
	}
	body:after {
		content: "extra-short";
	}
}
*/