/*

Bootstrap CSS suggests these size breakpoints:

- Extra small devices Phones (<768px)
- Small devices Tablets (≥768px)
- Medium devices Desktops (≥992px)
- Large devices Desktops (≥1200px)


# ATTENTION
When adding a new 'size', remember to update also MQ.init invocation in main.js.
This configuration is now located in the first script included in the index_template.html file.

*/

@media only screen and (min-width: 100px) {
	html {
		font-family: "narrow";
	}
	body:after {
		content: "narrow";
	}
}


@media only screen and (min-width: 700px) {
	html {
		font-family: "wide";
	}
	body:after {
		content: "wide";
	}
}

@media only screen and (min-width: 1100px) {
	html {
		font-family: "extra-wide";
	}
	body:after {
		content: "extra-wide";
	}
}

@media only screen and (min-width: 100px) and (max-height: 450px) {
	html {
		font-family: "extra-short";
	}
	body:after {
		content: "extra-short";
	}
}
