.tagEditor {

	&.readWrite {
//		border: 1px solid red;
	}

	ul {
		@include flexbox();
		@include flex-direction(row);
		@include align-items(flex-start);

		&:before {
			content: 'tag';
			@include icon-font();
			font-size: 16pt;
			padding-right: 11px;
			color: #ccc;
		}

		li.tag {
			@include flex(none);
			font-size: 13pt;
			font-weight: 100;

			padding-right: 10px;

//			&:last-child:after {
//				content: '';
//			}
//
//			&:after {
//				content: '-';
//				color: #bbb;
//				padding: 0px 6px;
//			}
			
			span.tagRemoveButton {
				@include icon-font();
				color: gray;
				cursor: pointer;
			}
		}
	}
}
