.ydlg-proxy {
	background-image: url(./images/default/gradient-bg.gif);
	background-color:#c3daf9;
	border:1px solid #6593cf;
	z-index:10001;
	overflow:hidden;
	position:absolute;
	left:0;top:0;
}
.ydlg-shadow{
	background:#aaaaaa;
	position:absolute;
	left:0;top:0;
}
.ydlg-focus{
	-moz-outline:0 none;
	outline:0 none;
	width:0;
	height:0;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.ydlg-mask{
	z-index:10000;   
   display:none;
   position:absolute;
   top:0;
   left:0;
   -moz-opacity: 0.5;
   opacity:.50;
   filter: alpha(opacity=50);
   background-color:#CCC;
}
body.masked{
}
body.masked select {
	visibility:hidden;
}
body.masked .ydlg select {
	visibility:visible;
}
.ydlg{
	z-index:10001;
	overflow:hidden;
	position:absolute;
	left:300;top:0;
}
.yresizable-proxy{
	z-index:10002;
}
.ydlg .ydlg-hd {
	background: url(./images/default/basic-dialog/hd-sprite.gif) repeat-x 0 -82px;
	background-color:navy;
	color:#ffffff;
	font:bold 12px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
	padding:5px;
}
.ydlg .ydlg-hd-left {
	background: url(./images/default/basic-dialog/hd-sprite.gif) no-repeat 0 -41px;
	padding-left:3px;
	margin:0px;
}
.ydlg .ydlg-hd-right {
	background: url(./images/default/basic-dialog/hd-sprite.gif) no-repeat right 0;
	padding-right:3px;
}
.ydlg .ydlg-dlg-body{
	background:url(./images/default/layout/gradient-bg.gif);
	border:1px solid #6593cf;
	border-top:0 none;
	padding:10px;
	overflow:hidden;
}
.ydlg .ydlg-bd{
	overflow:hidden;
}
.ydlg .ydlg-ft{
	overflow:hidden;
	padding:5px;
	padding-bottom:0;
}
.ydlg .yui-ext-tabbody{
	background:white;
	overflow:auto;
}
.ydlg .ytabs-top .yui-ext-tabbody{
	border:1px solid #6593cf;
	border-top:0 none;
}
.ydlg .ytabs-bottom .yui-ext-tabbody{
	border:1px solid #6593cf;
	border-bottom:0 none;
}
.ydlg .ylayout-container  .yui-ext-tabbody{
	border:0 none;
}
.ydlg .inner-tab{
	margin:5px;
}
.ydlg .ydlg-ft .ybtn{
	margin-right:5px;
	float:right;
	clear:none;
}
.ydlg .ydlg-ft .ydlg-btns td {
	border:0;
	padding:0;
}
.ydlg .ydlg-ft .ydlg-btns-right table{
	float:right;
	clear:none;
}
.ydlg .ydlg-ft .ydlg-btns-left table{
	float:left;
	clear:none;
}
.ydlg .ydlg-ft .ydlg-btns-center{
	text-align:center; /*ie*/
}
.ydlg .ydlg-ft .ydlg-btns-center table{
	margin:0 auto; /*everyone else*/
}
.ydlg-draggable .ydlg-hd{
	cursor:move;
}
.ydlg-closable .ydlg-hd{
	padding-right:22px;
}
.ydlg .ydlg-close {
	position:absolute;
	top:4px;
	right:4px;
	z-index:6;
	height:15px;
	width:15px;
	margin:0;
	padding:0;
	line-height:1px;
	font-size:1px;
	background-repeat:no-repeat;
	cursor:pointer;
	visibility:inherit;
	background-image:url(./images/default/basic-dialog/close.gif);
}
.ydlg div.yresizable-handle-east{
	background-image:url(./images/default/sizer/e-handle-dark.gif);
	border:0;
	background-position:left;
	margin-right:0;
}
.ydlg div.yresizable-handle-south{
	background-image:url(./images/default/sizer/s-handle-dark.gif);
	border:0;
	height:6px;
}
.ydlg div.yresizable-handle-west{
	background-image:url(./images/default/sizer/e-handle-dark.gif);
	border:0;
	background-position:1px;
}
.ydlg div.yresizable-handle-north{
	background-image:url(./images/default/s.gif);
	border:0;
}
.ydlg div.yresizable-handle-northeast, .ytheme-gray .ydlg div.yresizable-handle-northeast{
	background-image:url(./images/default/s.gif);
	border:0;
}
.ydlg div.yresizable-handle-northwest, .ytheme-gray .ydlg div.yresizable-handle-northwest{
	background-image:url(./images/default/s.gif);
	border:0;
}
.ydlg div.yresizable-handle-southeast{
	background-image:url(./images/default/sizer/corners-sprite.gif);
	background-position: top left;
	width:8px;
	height:8px;
	border:0;
}
.ydlg div.yresizable-handle-southwest{
	background-image:url(./images/default/sizer/corners-sprite.gif);
	background-position: top right;
	margin-left:1px;
	margin-bottom:1px;
	border:0;
}

#mb-dlg .ydlg-ft .ybtn{
	float:none;
	clear:none;
	margin:0 3px;
}

#mb-dlg .ydlg-bd {
	padding:5px;
	overflow:hidden !important;
}
#mb-dlg .ext-mb-input {
	margin-top:4px;
	width:95%;
}
#mb-dlg .ext-mb-textarea {
	margin-top:4px;
	font:normal 13px verdana,tahoma,sans-serif;
}
#mb-dlg .ext-mb-progress-wrap {
	margin-top:4px;
	border:1px solid #6593cf;
}
#mb-dlg .ext-mb-progress {
	height:18px;
	background:transparent url(./images/default/basic-dialog/progress2.gif) repeat-x 1px 1px;
}
#mb-dlg .ext-mb-progress-bar {
	height:18px;
	overflow:hidden;
	width:0;
	background:#8bb8f3;
}
