.ybtn{
	font:normal 11px arial, tahoma, verdana, helvetica;
	cursor:pointer;
	white-space: nowrap;
}
.ybtn-left, .ybtn-right{
	font-size:1px;
	line-height:1px;
}
.ybtn-left{
	width:3px;
	height:21px;
	background:url(./images/default/basic-dialog/btn-sprite.gif) no-repeat 0 0;
}
.ybtn-right{
	width:3px;
	height:21px;
	background:url(./images/default/basic-dialog/btn-sprite.gif) no-repeat 0 -21px;
}
.ybtn-focus{
	text-decoration:none !important;
	color:black !important;
	display: -moz-inline-block;
	display:inline-block;
	width:auto;
	position:relative;
	white-space: nowrap;
}
.ybtn-center{
	background:url(./images/default/basic-dialog/btn-sprite.gif) repeat-x 0 -42px;
	font:normal 11px "san serif",tahoma,verdana,helvetica;
	vertical-align: middle;
	text-align:center;
	padding:0 5px;
	cursor:pointer;
	white-space:nowrap;
	-moz-user-select: none;
	-khtml-user-select: none;
}
.ybtn-over .ybtn-left{
	background-position:0 -63px;
}
.ybtn-over .ybtn-right{
	background-position:0 -84px;
}
.ybtn-over .ybtn-center{
	background-position:0 -105px;
}
.ybtn-click .ybtn-center{
	background-position:0 -126px;
}
.ybtn-disabled{
	cursor:default;
}
.ybtn-disabled .ybtn-center{
	color:gray;
	cursor:default;
}
