.ext-el-mask {
	z-index:20000;   
   position:absolute;
   top:0;
   left:0;
   -moz-opacity: 0.5;
   opacity:.50;
   filter: alpha(opacity=50);
   background-color:#CCC;
	width:100%;
	height:100%;
	zoom:1;
}
.ext-masked {
	overflow:hidden !important;
}
.ext-masked select,.ext-masked object,.ext-masked embed{
	 visibility:hidden;
}
.ylayer-shadow{
	background:#cccccc;
   opacity:.3;
   -moz-opacity:.3;
   filter: alpha(opacity=30);
}