/*

Copyright 2008-2011 Clipperz Srl

This file is part of Clipperz's Javascript Crypto Library.
Javascript Crypto Library provides web developers with an extensive
and efficient set of cryptographic functions. The library aims to
obtain maximum execution speed while preserving modularity and
reusability.
For further information about its features and functionalities please
refer to http://www.clipperz.com

* Javascript Crypto Library is free software: you can redistribute
  it and/or modify it under the terms of the GNU Affero General Public
  License as published by the Free Software Foundation, either version
  3 of the License, or (at your option) any later version.

* Javascript Crypto Library is distributed in the hope that it will
  be useful, but WITHOUT ANY WARRANTY; without even the implied
  warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Javascript Crypto Library.  If not, see
  <http://www.gnu.org/licenses/>.

*/

.ydd-drag-proxy{
	position:absolute;
	left:0;top:0;
	visibility:hidden;
	z-index:15000;
}
.ydd-drag-ghost{
	color: black;
	font: normal 11px arial, helvetica, sans-serif;
	-moz-opacity: 0.85;
   opacity:.85;
   filter: alpha(opacity=85);
	border-top:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-right:1px solid #bbbbbb;
	border-bottom:1px solid #bbbbbb;
	padding:3px;
	padding-left:20px;
	background-color:white;
	white-space:nowrap;
}
.ydd-drag-repair .ydd-drag-ghost{
	-moz-opacity: 0.4;
   opacity:.4;
   filter: alpha(opacity=40);
	border:0 none;
	padding:0;
	background-color:transparent;
}
.ydd-drag-repair .ydd-drop-icon{
	visibility:hidden;
}
.ydd-drop-icon{
  position:absolute;
	top:3px;
	left:3px;
	display:block;
	width:16px;
	height:16px;
	background-color:transparent;
	background-position: center;
	background-repeat: no-repeat;
	z-index:1;
}
.ydd-drop-nodrop .ydd-drop-icon{
  background-image: url(../images/default/dd/drop-no.gif);
}
.ydd-drop-ok .ydd-drop-icon{
  background-image: url(../images/default/dd/drop-yes.gif);
}
.ydd-drop-ok-add .ydd-drop-icon{
  background-image: url(../images/default/dd/drop-add.gif);
}
