.ylayout-container{
    width:100%;
    height:100%;
    overflow:hidden;
	 background-color:#c3daf9;
}
.ylayout-collapsed{
    position:absolute;
    left:-10000px;
    top:-10000px;
    visibility:hidden;
    background-color:#c3daf9;
    width:20px;
    height:20px;
    overflow:hidden;
	 border:1px solid #98c0f4;
	 z-index:20;
}
.ylayout-collapsed-over{
    cursor:pointer;
	 background-color:#d9e8fb;
}
.ylayout-collapsed-west  .ylayout-tools-button{
	float:right;
}
.ylayout-collapsed-east  .ylayout-tools-button{
	float:left;
}
.ylayout-collapsed-north, .ylayout-collapsed-south{
	text-align:right;
}
.ylayout-collapsed .ylayout-tools-button{
   margin:2px;
	 width:12px;
	 text-align:center;
}
.ylayout-inactive-content{
    position:absolute;
    left:-10000px;
    top:-10000px;
    visibility:hidden;
}
.ylayout-active-content{
    visibility:visible;
}
.ylayout-panel{
    position:absolute;border:1px solid #98c0f4;overflow:hidden;background-color:white;
}
.ylayout-panel-east, .ylayout-panel-west {
    z-index:10;
}
.ylayout-panel-north, .ylayout-panel-south {
    z-index:11;
}
.ylayout-collapsed-north, .ylayout-collapsed-south, .ylayout-collapsed-east, .ylayout-collapsed-west {
    z-index:12;
}
.ylayout-panel-body{
    overflow:hidden;
}
.ylayout-grid-wrapper{

}
.ylayout-split{
    position:absolute;
    height:5px;
    width:5px;
    line-height:1px;
    font-size:1px;
    z-index:3;
    background-color:#c3daf9;
}
.ylayout-panel-hd{
    background-image: url(./images/default/layout/panel-title-light-bg.gif);
    color: black;
    border-bottom:1px solid #98c0f4;
    position:relative;
}
.ylayout-panel-hd-text{
    font:normal 11px tahoma, verdana, helvetica;
    padding: 4px;
    padding-left: 4px;
    display:block;
	 white-space:nowrap;
}
.ylayout-panel-hd-tools{
    position:absolute;
    right:0;
    top:0;
    text-align:right;
    padding-top:2px;
    padding-right:2px;width:40px;
}
.ylayout-tools-button{
    z-index:6;
    padding:2px;
    cursor:pointer;
}
.ylayout-tools-button-over{
    padding:1px;
    border:1px solid #98c0f4;
    background-color:white;
}
.ylayout-tools-button-inner{
    height:12px;
    width:12px;
    line-height:1px;
    font-size:1px;
    background-repeat:no-repeat;
    background-position:center;
}
.ylayout-close{
    background-image:url(./images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -48px;
}
.ylayout-collapse-west,.ylayout-expand-east{
    background-image:url(./images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.ylayout-expand-west,.ylayout-collapse-east{
    background-image:url(./images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -12px;
}
.ylayout-collapse-north,.ylayout-expand-south{
    background-image:url(./images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -24px;
}
.ylayout-expand-north,.ylayout-collapse-south{
    background-image:url(./images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -36px;
}
.ylayout-split-h{
    background-image:url(./images/default/sizer/e-handle.gif);
    background-position: left;
}
.ylayout-split-v{
    background-image:url(./images/default/sizer/s-handle.gif);
    background-position: top;
}
.ylayout-panel .ytab-wrap{
    background:url(./images/default/layout/gradient-bg.gif);
}
.ylayout-panel .yui-ext-tabbody {
    background-color:white;
    overflow:auto;height:100%;
}
.ylayout-component-panel, .ylayout-nested-layout {
	position:relative;
   padding:0;
	overflow:hidden;
	width:200px;
	height:200px;
}
.ylayout-nested-layout .ylayout-panel {
	  border:0 none;
}
.ylayout-nested-layout .ylayout-panel-north {
	  border-bottom:1px solid #98c0f4;
}
.ylayout-nested-layout .ylayout-panel-south {
	  border-top:1px solid #98c0f4;
}
.ylayout-nested-layout .ylayout-panel-east {
	  border-left:1px solid #98c0f4;
}
.ylayout-nested-layout .ylayout-panel-west {
	  border-right:1px solid #98c0f4;
}
.yui-ext-repaint{
    zoom:1;
	 background-color: transparent;
}
.ylayout-panel-dragover {
	border: 2px solid #6593cf;
}
.ylayout-panel-proxy {
	background-image: url(./images/default/layout/gradient-bg.gif);
	background-color:#c3daf9;
	border:1px dashed #6593cf;
	z-index:10001;
	overflow:hidden;
	position:absolute;
	left:0;top:0;
}
.ylayout-slider {
	z-index:15;
	overflow:hidden;
	position:absolute;
}

.yunselectable{
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor:default;
}
