.ytip{
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: 11000;
}
.ytip .ytip-bd{
	background: #e0e8f3 url(./images/default/qtip/bg.gif) repeat-x;
	border: 1px solid #a3bad9;
	font: normal 11px arial,helvetica,sans-serif;
	padding: 5px;
}
.ytip .ytip-close{
	background-image: url(./images/default/basic-dialog/close.gif);
	height: 15px;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 15px;
}
.ytip .ytip-hd {
	background: url(./images/default/basic-dialog/hd-sprite.gif) repeat-x 0px -82px;
	background-color: navy;
	color: #FFF;
	display: block;
	font: bold 11px tahoma, arial, verdana, helvetica;
	padding: 4px;
}
.ytip .ytip-hd-left {
	background: url(./images/default/basic-dialog/hd-sprite.gif) no-repeat 0px -41px;
	display: block;
	margin: 0px;
	padding-left: 3px;
}
.ytip .ytip-hd-right {
	background: url(./images/default/basic-dialog/hd-sprite.gif) no-repeat right 0px;
	display: block;
	padding-right: 3px;
}
y\:qtip, qtip{
	display: none;
}
