.yresizable-handle {
    position:absolute;
    z-index:100;
    /* ie needs these */
    font-size:1px;
    line-height:6px;
    overflow:hidden;
	 background:white;
	 filter:alpha(opacity=0);
	 opacity:0;
	 zoom:1;
}
.yresizable-handle-east{
    width:6px;
    cursor:e-resize;
    right:0px;
    top:0px;
    height:100%;
	 margin-right:-1px; /*IE rounding error*/
}
.yresizable-handle-south{
    width:100%;
    cursor:s-resize;
    left:0px;
    bottom:0px;
    height:6px;
	 margin-bottom:-1px; /*IE rounding error*/
}
.yresizable-handle-west{
    width:6px;
    cursor:w-resize;
    left:0px;
    top:0px;
    height:100%;
}
.yresizable-handle-north{
    width:100%;
    cursor:n-resize;
    left:0px;
    top:0px;
    height:6px;
}
.yresizable-handle-southeast{
    width:6px;
    cursor:se-resize;
    right:0px;
    bottom:0px;
    height:6px;
    z-index:101;
}
.yresizable-handle-northwest{
    width:6px;
    cursor:nw-resize;
    left:0px;
    top:0px;
    height:6px;
    z-index:101;
}
.yresizable-handle-northeast{
    width:6px;
    cursor:ne-resize;
    right:0px;
    top:0px;
    height:6px;
    z-index:101;
}
.yresizable-handle-southwest{
    width:6px;
    cursor:sw-resize;
    left:0px;
    bottom:0px;
    height:6px;
    z-index:101;
}
.yresizable-over .yresizable-handle, .yresizable-pinned .yresizable-handle{
    filter:alpha(opacity=100);
	 opacity:1;
}
.yresizable-over .yresizable-handle-east, .yresizable-pinned .yresizable-handle-east{
    background:url(./images/default/sizer/e-handle.gif);
	 background-position: left;
}
.yresizable-over .yresizable-handle-west, .yresizable-pinned .yresizable-handle-west{
    background:url(./images/default/sizer/e-handle.gif);
	 background-position: left;
}
.yresizable-over .yresizable-handle-south, .yresizable-pinned .yresizable-handle-south{
    background:url(./images/default/sizer/s-handle.gif);
    background-position: top;
}
.yresizable-over .yresizable-handle-north, .yresizable-pinned .yresizable-handle-north{
    background:url(./images/default/sizer/s-handle.gif);
    background-position: top;
}
.yresizable-over .yresizable-handle-southeast, .yresizable-pinned .yresizable-handle-southeast{
    background:url(./images/default/sizer/corners-sprite.gif);
    background-position: top left;
}
.yresizable-over .yresizable-handle-northwest, .yresizable-pinned .yresizable-handle-northwest{
    background:url(./images/default/sizer/corners-sprite.gif);
    background-position:bottom right;
}
.yresizable-over .yresizable-handle-northeast, .yresizable-pinned .yresizable-handle-northeast{
    background:url(./images/default/sizer/corners-sprite.gif);
    background-position: bottom left;
}
.yresizable-over .yresizable-handle-southwest, .yresizable-pinned .yresizable-handle-southwest{
    background:url(./images/default/sizer/corners-sprite.gif);
    background-position: top right;
}
.yresizable-proxy{
    border: 1px dashed #6593cf;
    position:absolute;
    overflow:hidden;
    visibility:hidden;
	 left:0;top:0;
    z-index:1001;
}
.yresizable-overlay{
    width:100%;
	 height:100%;
	 display:none;
	 position:absolute;
	 left:0;
	 top:0;
	 background:white;
	 z-index:20000;
	 -moz-opacity: 0;
    opacity:0;
    filter: alpha(opacity=0);
	 border:1px solid red;
}
