.ytab-wrap {
	border-bottom:1px solid #6593cf;
	padding-top:2px;
}
.ytab-strip-wrap{
	width:100%;	
}
.ytab-wrap table{
	position:relative;
	top:0; left:0;
}
.ytab-strip td{
	padding:0;
	padding-left:2px;
}
.ytab-strip a, .ytab-strip span, .ytab-strip em {
	display:block;
}
.ytab-strip a {
	text-decoration:none !important;
	-moz-outline: none;
	outline: none;
	cursor:pointer;
}
.ytab-strip .ytab-text {
	font:bold 11px tahoma,arial,helvetica;
	color:#666;
	overflow:hidden;
	white-space: nowrap;
	cursor:pointer;
	text-overflow: ellipsis;
}
.ytab-strip .on .ytab-text {
	cursor:default;
	color:#083772;
}
.ytab-strip .disabled .ytab-text {
	cursor:default;
	color:#aaaaaa;
}
.ytab-strip .ytab-inner {
	 padding:4px 10px;	
}

.ytab-strip .on .ytab-right {
	 background: url(./images/default/tabs/tab-sprite.gif) no-repeat right 0;
}
.ytab-strip .on .ytab-left {
	 background: url(./images/default/tabs/tab-sprite.gif) no-repeat 0 -100px;
}
.ytab-strip .ytab-right {
	 background: url(./images/default/tabs/tab-sprite.gif) no-repeat right -50px;
}
.ytab-strip .ytab-left {
	 background: url(./images/default/tabs/tab-sprite.gif) no-repeat 0 -150px;
}

.ytab-strip  a {
	position:relative;
	top:1px; left:0;
}
.ytab-strip .on a {
	position:relative;
}
.ytab-strip .on .ytab-inner {
	padding-bottom:5px;
}
/** closable tabs */
.ytab-strip .ytab-closable .ytab-inner{
	padding-right:22px;
	position:relative;
}
.ytab-strip .ytab-closable .close-icon{
	line-height: 1px;
	font-size:1px;
  background-image:url(./images/default/layout/layout-sprite.gif);
  background-repeat: no-repeat;
  background-position: 50% -60px;
	display:block;
	position:absolute;
	right:5px;top:4px;
	width:12px;height:11px;
	cursor:pointer;
}
.ytab-strip .on .close-icon{
    background-image:url(./images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -60px;
}
.ytab-strip .ytab-closable .close-over{
    background-image:url(./images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -72px;
}

.ytabs-bottom .ytab-wrap {
	border-top:1px solid #6593cf;
	border-bottom:0 none;
	padding-top:0;
	padding-bottom:2px;
}
.ytabs-bottom .ytab-strip .ytab-right {
	 background: url(./images/default/tabs/tab-btm-inactive-right-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-strip .ytab-left {
	 background: url(./images/default/tabs/tab-btm-inactive-left-bg.gif) no-repeat bottom right;
}
.ytabs-bottom .ytab-strip .on .ytab-right {
	 background: url(./images/default/tabs/tab-btm-right-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-strip .on .ytab-left {
	 background: url(./images/default/tabs/tab-btm-left-bg.gif) no-repeat bottom right;
}
.ytabs-bottom .ytab-strip  a {
	position:relative;
	top:0; left:0;
}
.ytabs-bottom .ytab-strip .on a {
	margin-top:-1px;
}
.ytabs-bottom .ytab-strip .on .ytab-inner {
	padding-top:5px;
}

