.ytoolbar{
	background-color: #ebeadb;
	border: 1px solid #cbc7b8;
	display: block;
	padding:2px;
}

.mso .ytoolbar, .ygrid-mso .ytoolbar{
	border: 0px none;
	background: url(./images/default/grid/mso-hd.gif);
}
.ytoolbar td,.ytoolbar span,.ytoolbar input,.ytoolbar div{
	white-space: nowrap;
   font:normal 8pt arial,helvetica;
}
.ytoolbar .ytb-button-disabled .ytb-button-inner{
	color:gray;
	cursor:default;
}

/*
 Default button class is icon only. Add a class with a background-image property
 to your toolbar button
*/
.ytoolbar .ytb-button-inner{
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
	cursor:pointer;
	white-space: nowrap;
}

/* 
 Button class for icon and text. Add this class and a class with a background-image 
 to your toolbar button for both text and icon 
*/
.ytoolbar .ytb-text-icon{
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding-left:18px;
	padding-top:1px;
	width:auto;
	display:block;
}

/* 
 Button class for a button with only text. Add this class  
 to your toolbar button for a just text button
*/
.ytoolbar .ytb-text-only{
	background:none;
	padding-left:0px;
	padding-top:1px;
	width:auto;
	display:block;
}
.ytoolbar .ytb-text{
   padding:2px;
}
.ytoolbar .ytb-button{
   padding:2px 3px;
	display:block;
}
.ytoolbar .ytb-button-over{
   background:#c3d3ed url(./images/default/toolbar/btn-over-bg.gif) repeat-x;
	border:1px solid #6593cf;
	padding:1px 2px;
}
.ytoolbar .ytb-sep {
	background-image: url(./images/default/grid/grid-split.gif);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 16px;
	width:4px;
	overflow: hidden;
	cursor:default;
	margin: 0px 2px 0px;
	border:0px;
}
.mso .ytoolbar .ytb-sep, .ygrid-mso .ytoolbar .ytb-sep{
	background-image: url(./images/default/grid/grid-blue-split.gif);
}

