.ytree-icon, .ytree-ec-icon, .ytree-elbow-line, .ytree-elbow, .ytree-elbow-end, .ytree-elbow-plus, .ytree-elbow-minus, .ytree-elbow-end-plus, .ytree-elbow-end-minus{
	border: 0 none;
	height: 18px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 16px;
}
.ytree-node-collapsed .ytree-node-icon, .ytree-node-expanded .ytree-node-icon, .ytree-node-leaf .ytree-node-icon{
	border: 0 none;
	height: 16px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 16px;
	background-position:center;
}

/* some default icons for leaf/folder */
.ytree-node-collapsed .ytree-node-icon{
	background:transparent url(./images/default/tree/folder.gif);
}
.ytree-node-expanded .ytree-node-icon{
	background:transparent url(./images/default/tree/folder-open.gif);
}
.ytree-node-leaf .ytree-node-icon{
	background:transparent url(./images/default/tree/leaf.gif);
}

/* loading icon */
.ytree-node-loading .ytree-node-icon{
	background:transparent url(./images/default/tree/loading.gif) !important;
}
.ytree-node-loading a span{
	 font-style: italic;
	 color:#444444;
}

/* Line styles */
.ytree-lines .ytree-elbow{
	background:transparent url(./images/default/tree/elbow.gif);
}
.ytree-lines .ytree-elbow-plus{
	background:transparent url(./images/default/tree/elbow-plus.gif);
}
.ytree-lines .ytree-elbow-minus{
	background:transparent url(./images/default/tree/elbow-minus.gif);
}
.ytree-lines .ytree-elbow-end{
	background:transparent url(./images/default/tree/elbow-end.gif);
}
.ytree-lines .ytree-elbow-end-plus{
	background:transparent url(./images/default/tree/elbow-end-plus.gif);
}
.ytree-lines .ytree-elbow-end-minus{
	background:transparent url(./images/default/tree/elbow-end-minus.gif);
}
.ytree-lines .ytree-elbow-line{
	background:transparent url(./images/default/tree/elbow-line.gif);
}

/* No line styles */
.ytree-no-lines .ytree-elbow{
	background:transparent;
}
.ytree-no-lines .ytree-elbow-plus{
	background:transparent url(./images/default/tree/elbow-plus-nl.gif);
}
.ytree-no-lines .ytree-elbow-minus{
	background:transparent url(./images/default/tree/elbow-minus-nl.gif);
}
.ytree-no-lines .ytree-elbow-end{
	background:transparent;
}
.ytree-no-lines .ytree-elbow-end-plus{
	background:transparent url(./images/default/tree/elbow-end-plus-nl.gif);
}
.ytree-no-lines .ytree-elbow-end-minus{
	background:transparent url(./images/default/tree/elbow-end-minus-nl.gif);
}
.ytree-no-lines .ytree-elbow-line{
	background:transparent;
}

.ytree-elbow-plus, .ytree-elbow-minus, .ytree-elbow-end-plus, .ytree-elbow-end-minus{
	cursor:pointer;
}

.ytree-node{
	color: black;
	font: normal 11px arial, helvetica, sans-serif;
	white-space: nowrap;
}
.ytree-node a, .ydd-drag-ghost a{
	text-decoration:none;
	color:black;
	-khtml-user-select:normal;
	-moz-user-select:normal;
}
.ytree-node a span, .ydd-drag-ghost a span{
	text-decoration:none;
	color:black;
	padding:1px 3px 1px 2px;
}
.ytree-node .ytree-node-disabled a span{
	color:gray !important;
}
.ytree-node .ytree-node-disabled .ytree-node-icon{
	-moz-opacity: 0.5;
   opacity:.5;
   filter: alpha(opacity=50);
}
.ytree-node .ytree-node-inline-icon{
	background:transparent;
}
.ytree-node a:hover, .ydd-drag-ghost a:hover{
	text-decoration:none;
}
.ytree-node div.ytree-drag-insert-below{
 	 border-bottom:1px dotted #3366cc;
}
.ytree-node div.ytree-drag-insert-above{
	 border-top:1px dotted #3366cc;
}
.ytree-dd-underline .ytree-node div.ytree-drag-insert-below{
 	 border-bottom:0px none;
}
.ytree-dd-underline .ytree-node div.ytree-drag-insert-above{
	 border-top:0px none;
}
.ytree-dd-underline .ytree-node div.ytree-drag-insert-below a{
 	 border-bottom:2px solid #3366cc;
}
.ytree-dd-underline .ytree-node div.ytree-drag-insert-above a{
	 border-top:2px solid #3366cc;
}
.ytree-node .ytree-drag-append a span{
	 background:#dddddd;
	 border:1px dotted gray;
}
.ytree-node .ytree-selected a span{
	background:#3366cc;
	color:white;
}
.ydd-drag-ghost .ytree-node-indent, .ydd-drag-ghost .ytree-ec-icon{
	display:none !important;
}
.ytree-drop-ok-append .ydd-drop-icon{
  background-image: url(./images/default/tree/drop-add.gif);
}
.ytree-drop-ok-above .ydd-drop-icon{
  background-image: url(./images/default/tree/drop-over.gif);
}
.ytree-drop-ok-below .ydd-drop-icon{
  background-image: url(./images/default/tree/drop-under.gif);
}
.ytree-drop-ok-between .ydd-drop-icon{
  background-image: url(./images/default/tree/drop-between.gif);
}
.ylayer-shadow{
	background:#cccccc;
   opacity:.3;
   -moz-opacity:.3;
   filter: alpha(opacity=30);
}
