/** 
* Tabs
*/
.ytab-wrap {
	background:#4f4f4f;
	border-bottom:1px solid #b3b6b0;
}
.ytab-strip .ytab-text {
	color:white;
	font-weight:normal;
}
.ytab-strip .on .ytab-text {
	cursor:default;
	color:#333333;
}
.ytabs-top .ytab-strip a:hover {
	background:transparent url(./images/vista/tabs/tab-sprite.gif) no-repeat right -50px;
}
.ytabs-top .ytab-strip a:hover .ytab-left {
	background:transparent url(./images/vista/tabs/tab-sprite.gif) no-repeat 0 -150px;
}
.ytabs-top .ytab-strip .on .ytab-right, .ytabs-top .ytab-strip .on a:hover {
	 background: url(./images/vista/tabs/tab-sprite.gif) no-repeat right 0;
}
.ytabs-top .ytab-strip .on .ytab-left, .ytabs-top .ytab-strip .on a:hover .ytab-left {
	 background: url(./images/vista/tabs/tab-sprite.gif) no-repeat 0 -100px;
}
.ytabs-top .ytab-strip .ytab-right {
	 background:transparent;
}
.ytabs-top .ytab-strip .ytab-left {
	 background:transparent;
}
.ytab-strip .ytab-closable .close-icon{
	background-image:url(./images/vista/layout/layout-sprite.gif);
  background-position: 50% -60px;
}
.ytab-strip .on .close-icon{
	background-image:url(./images/vista/layout/layout-sprite.gif);
  background-position: 50% -72px;
}
.ytab-strip .ytab-closable .close-over{
	background-image:url(./images/vista/layout/layout-sprite.gif);
  background-position: 50% -72px;
}

.ytabs-bottom .ytab-strip {
	background:#4f4f4f;
}
.ytabs-bottom .ytab-strip a:hover {
	background:transparent url(./images/vista/tabs/tab-btm-inactive-right-bg.gif) no-repeat bottom right;
}
.ytabs-bottom .ytab-strip a:hover .ytab-left{
	background:transparent url(./images/vista/tabs/tab-btm-inactive-left-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-wrap {
	border-bottom:0px none;
	padding-top:0px;
	border-top:1px solid #b3b6b0;
}
.ytabs-bottom .ytab-strip .ytab-right {
	 background:transparent;
}
.ytabs-bottom .ytab-strip .ytab-left {
	 background:transparent;
}
.ytabs-bottom .ytab-strip .on .ytab-right,.ytabs-bottom .ytab-strip .on a:hover {
	 background: url(./images/vista/tabs/tab-btm-right-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-strip .on .ytab-left,.ytabs-bottom .ytab-strip .on a:hover .ytab-left {
	 background: url(./images/vista/tabs/tab-btm-left-bg.gif) no-repeat bottom right;
}
/** 
* Basic-Dialog 
*/
.ydlg-proxy {
	background:#d3d6d0;
	border:2px solid #b3b6b0;
}
.ydlg-shadow{
	background:#cccccc;
   opacity:.3;
   -moz-opacity:.3;
   filter: alpha(opacity=30);
}
.ydlg .ydlg-hd {
	background: url(./images/vista/basic-dialog/hd-sprite.gif) repeat-x 0px -82px;
	background-color:#333333;
	zoom:1;
}
.ydlg .ydlg-hd-left {
	opacity:.95;-moz-opacity:.95;filter:alpha(opacity=90);
	background: url(./images/vista/basic-dialog/hd-sprite.gif) no-repeat 0px -41px;
	zoom:1;
}
.ydlg .ydlg-hd-right {
	background: url(./images/vista/basic-dialog/hd-sprite.gif) no-repeat right 0px;
	zoom:1;
}
.ydlg .ydlg-dlg-body{
	background:#fff;
	border:0 none;
	border-top:0px none;
	padding:0px 0px 0px;
	position:absolute;
	top:24px;left:0px;
	z-index:1;
}
.ydlg-auto-tabs .ydlg-dlg-body{
	background:transparent;
}
.ydlg-auto-tabs .ytabs-top .ytab-wrap{
	background:transparent;
}
.ydlg .ydlg-ft{
	border-top:1px solid #b3b6b0;
	background:#F0F0F0;
	padding-bottom:8px;
}
.ydlg .ydlg-bg{
	opacity:.90;-moz-opacity:.90;filter:alpha(opacity=85);
	zoom:1;
}
.ydlg .ydlg-bg-left,.ydlg .ydlg-bg-center,.ydlg .ydlg-bg-right{
}
.ydlg .ydlg-bg-center {
	padding: 0px 4px 4px 4px;
	background:transparent url(./images/vista/basic-dialog/bg-center.gif) repeat-x bottom;
	zoom:1;
}
.ydlg .ydlg-bg-left{
	padding-left:4px;
	background:transparent url(./images/vista/basic-dialog/bg-left.gif) no-repeat bottom left;
	zoom:1;
}
.ydlg .ydlg-bg-right{
	padding-right:4px;
	background:transparent url(./images/vista/basic-dialog/bg-right.gif) no-repeat bottom right;
	zoom:1;
}
.ydlg .ytabs-top .yui-ext-tabbody{
	border:0px none;
}
.ydlg .ytabs-bottom .yui-ext-tabbody{
	border:1px solid #b3b6b0;
	border-bottom:0px none;
}
.ydlg .ylayout-container  .yui-ext-tabbody{
	border:0px none;
}
.ydlg .ydlg-close {
	background-image:url(./images/vista/basic-dialog/close.gif);
}
.ydlg div.yresizable-handle-east{
	background-image:url(./images/vista/s.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-south{
	background-image:url(./images/vista/s.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-west{
	background-image:url(./images/vista/s.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-southeast{
	background-image:url(./images/vista/s.gif);
	background-position: bottom right;
	width:8px;
	height:8px;
	border:0px;
}
.ydlg div.yresizable-handle-southwest{
	background-image:url(./images/vista/s.gif);
	background-position: top right;
	margin-left:1px;
	margin-bottom:1px;
	border:0px;
}
.ydlg div.yresizable-handle-north{
	background-image:url(./images/vista/s.gif);
	border:0px none;
}

/* QuickTips */

.ytip .ytip-hd-right{
	background: url(./images/vista/basic-dialog/hd-sprite.gif) no-repeat right 0px;
}
.ytip .ytip-hd-left{
	background: url(./images/vista/basic-dialog/hd-sprite.gif) no-repeat 0px -41px;
}
.ytip .ytip-hd{
	background: url(./images/vista/basic-dialog/hd-sprite.gif) repeat-x 0px -82px;
}
.ytip .ytip-close{
	background-image: url(./images/vista/basic-dialog/close.gif);
}
.ytip .ytip-bd{
	background: #e7e7e7 url(./images/vista/qtip/bg.gif);
	border: 1px solid #ababab;
}

/* BorderLayout */
.ylayout-container{
    background:#4f4f4f;
}
.ylayout-collapsed{
    background-color:#9f9f9f;
	 border:1px solid #4c535c;
}
.ylayout-collapsed-over{
	 background-color:#bfbfbf;
}
.ylayout-panel{
    border:1px solid #4c535c;
}
.ylayout-nested-layout .ylayout-panel {
	  border:0px none;
}
.ylayout-split{
    background-color:#f3f2e7;
}
.ylayout-panel-hd{
    background-image: url(./images/vista/layout/panel-title-bg.gif);
    border-bottom:1px solid #b5bac1;
}
.ylayout-panel-hd-text{
	color:white;
}
.ylayout-tools-button-over{
    border:1px solid #4c535c;
	 background:#9f9f9f url(./images/vista/layout/panel-title-bg.gif) repeat-x;
}
.ylayout-close{
    background-image:url(./images/vista/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -60px;
}
.ylayout-collapse-west,.ylayout-expand-east{
    background-image:url(./images/vista/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.ylayout-expand-west,.ylayout-collapse-east{
    background-image:url(./images/vista/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -12px;
}
.ylayout-collapse-north,.ylayout-expand-south{
    background-image:url(./images/vista/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -24px;
}
.ylayout-expand-north,.ylayout-collapse-south{
    background-image:url(./images/vista/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -36px;
}
.ylayout-split-h{
    background:#9f9f9f;
}
.ylayout-split-v{
    background:#9f9f9f;
}
.ylayout-panel .ytab-wrap{
    background:#4f4f4f;
}
.ylayout-nested-layout .ylayout-panel-north {
	  border-bottom:1px solid #4c535c;
}
.ylayout-nested-layout .ylayout-panel-south {
	  border-top:1px solid #4c535c;
}
.ylayout-nested-layout .ylayout-panel-east {
	  border-left:1px solid #4c535c;
}
.ylayout-nested-layout .ylayout-panel-west {
	  border-right:1px solid #4c535c;
}
.ylayout-panel-dragover {
	border: 2px solid #4c535c;
}
.ylayout-panel-proxy {
	background-image: url(./images/vista/layout/gradient-bg.gif);
	background-color:#f3f2e7;
	border:1px dashed #4c535c;
}
/** Resizable */

.yresizable-over .yresizable-handle-east, .yresizable-pinned .yresizable-handle-east{
    background:url(./images/vista/sizer/e-handle.gif);
	 background-position: left;
}
.yresizable-over .yresizable-handle-east, .yresizable-pinned .yresizable-handle-west{
    background:url(./images/vista/sizer/e-handle.gif);
	 background-position: left;
}
.yresizable-over .yresizable-handle-south, .yresizable-pinned .yresizable-handle-south{
    background:url(./images/vista/sizer/s-handle.gif);
    background-position: top;
}
.yresizable-over .yresizable-handle-south, .yresizable-pinned .yresizable-handle-north{
    background:url(./images/vista/sizer/s-handle.gif);
    background-position: top;
}
.yresizable-over .yresizable-handle-southeast, .yresizable-pinned .yresizable-handle-southeast{
    background:url(./images/vista/sizer/se-handle.gif);
    background-position: top left;
}
.yresizable-over .yresizable-handle-northwest,.yresizable-pinned .yresizable-handle-northwest{
    background:url(./images/vista/sizer/nw-handle.gif);
    background-position:bottom right;
}
.yresizable-over .yresizable-handle-northeast,.yresizable-pinned .yresizable-handle-northeast{
    background:url(./images/vista/sizer/ne-handle.gif);
    background-position: bottom left;
}
.yresizable-over .yresizable-handle-southwest,.yresizable-pinned .yresizable-handle-southwest{
    background:url(./images/vista/sizer/sw-handle.gif);
    background-position: top right;
}
.yresizable-proxy{
    border: 1px dashed #615e55;
}

/** Toolbar */
.ytoolbar{
	border:0px none;
	background: #efefe3 url(./images/vista/toolbar/gray-bg.gif) repeat-x;
	padding:3px;
}
.ytoolbar .ytb-button-over{
	border:1px solid transparent;
	border-bottom:1px solid #bbbbbb;
	border-top:1px solid #eeeeee;
	background:#9f9f9f url(./images/vista/grid/grid-vista-hd.gif) repeat-x;
}
/* grid */
.ygrid-hd{
	border-bottom:0px;
	background:none;
}
.ygrid-hd-body {
	border-bottom: 1px solid #b3bcc0;
}
.ygrid-hd-over{
	border-bottom:0px;
}
.ygrid-hd-over .ygrid-hd-body{
	background-color: transparent;
	border-bottom:0px;
}
.ygrid-hd-split {
	background-image: url(./images/vista/grid/grid-split.gif);
}
.ygrid-hrow{
	background: url(./images/vista/grid/grid-vista-hd.gif);
	height: 21px;
}
.ygrid-row-alt{
	background-color: #f5f5f5;
}
.ygrid-row-selected{
	background-color: #535353  !important;
	color: white;
}
.ygrid-row-selected span{
	color: white !important;
}
.ygrid-wrap-body {
}
.ytoolbar .ytb-sep{
	background-image: url(./images/vista/grid/grid-split.gif);
}
