/** 
* Basic-Dialog 
*/
.ydlg-proxy {
	background-image: url(./images/gray/layout/gradient-bg.gif);
	background-color:#EAE8D5;
	border:1px solid #b3b6b0;
}
.ydlg-shadow{
	background:#aaaaaa;
}
.ydlg-proxy .tabset{
    background:url(./images/gray/layout/gradient-bg.gif);
}
.ydlg .ydlg-hd {
	background: url(./images/gray/basic-dialog/hd-sprite.gif) repeat-x 0px -82px;
	background-color:#333333;
}
.ydlg .ydlg-hd-left {
	background: url(./images/gray/basic-dialog/hd-sprite.gif) no-repeat 0px -41px;
}
.ydlg .ydlg-hd-right {
	background: url(./images/gray/basic-dialog/hd-sprite.gif) no-repeat right 0px;
}
.ydlg .ydlg-dlg-body{
	background:#efefec;
	border:1px solid #b3b6b0;
	border-top:0px none;
}
.ydlg .ytabs-top .yui-ext-tabbody{
	border:1px solid #b3b6b0;
	border-top:0px none;
}
.ydlg .ytabs-bottom .yui-ext-tabbody{
	border:1px solid #b3b6b0;
	border-bottom:0px none;
}
.ydlg .ylayout-container  .yui-ext-tabbody{
	border:0px none;
}
.ydlg .ydlg-close {
	background-image:url(./images/gray/basic-dialog/close.gif);
}
.ydlg div.yresizable-handle-east{
	background-image:url(./images/gray/basic-dialog/e-handle.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-south{
	background-image:url(./images/gray/basic-dialog/s-handle.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-west{
	background-image:url(./images/gray/basic-dialog/e-handle.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-southeast{
	background-image:url(./images/gray/basic-dialog/se-handle.gif);
	background-position: bottom right;
	width:8px;
	height:8px;
	border:0px;
}
.ydlg div.yresizable-handle-southwest{
	background-image:url(./images/gray/sizer/sw-handle-dark.gif);
	background-position: top right;
	margin-left:1px;
	margin-bottom:1px;
	border:0px;
}
.ydlg div.yresizable-handle-north{
	background-image:url(./images/gray/s.gif);
	border:0px none;
}

/** 
* Tabs
*/
.ytab-wrap {
	border-bottom:1px solid #aca899;
}
.ytab-strip .on .ytab-text {
	cursor:default;
	color:#333333;
}
.ytabs-top .ytab-strip .on .ytab-right {
	 background: url(./images/gray/tabs/tab-sprite.gif) no-repeat right 0px;
}
.ytabs-top .ytab-strip .on .ytab-left {
	 background: url(./images/gray/tabs/tab-sprite.gif) no-repeat 0px -100px;
}
.ytabs-top .ytab-strip .ytab-right {
	 background: url(./images/gray/tabs/tab-sprite.gif) no-repeat right -50px;
}
.ytabs-top .ytab-strip .ytab-left {
	 background: url(./images/gray/tabs/tab-sprite.gif) no-repeat 0px -150px;
}
.ytab-strip .ytab-closable .close-icon{
	background-image:url(./images/gray/layout/layout-sprite.gif);
  background-position: 50% -60px;
}
.ytab-strip .on .close-icon{
	background-image:url(./images/gray/layout/layout-sprite.gif);
  background-position: 50% -60px;
}
.ytab-strip .ytab-closable .close-over{
	background-image:url(./images/gray/layout/layout-sprite.gif);
  background-position: 50% -72px;
}

.ytabs-bottom .ytab-wrap {
	border-bottom:0px none;
	padding-top:0px;
	border-top:1px solid #aca899;
}
.ytabs-bottom .ytab-strip .ytab-right {
	 background: url(./images/gray/tabs/tab-btm-inactive-right-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-strip .ytab-left {
	 background: url(./images/gray/tabs/tab-btm-inactive-left-bg.gif) no-repeat bottom right;
}
.ytabs-bottom .ytab-strip .on .ytab-right {
	 background: url(./images/gray/tabs/tab-btm-right-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-strip .on .ytab-left {
	 background: url(./images/gray/tabs/tab-btm-left-bg.gif) no-repeat bottom right;
}

/* QuickTips */

.ytip .ytip-hd-right{
	background: url(./images/gray/basic-dialog/hd-sprite.gif) no-repeat right 0px;
}
.ytip .ytip-hd-left{
	background: url(./images/gray/basic-dialog/hd-sprite.gif) no-repeat 0px -41px;
}
.ytip .ytip-hd{
	background: url(./images/gray/basic-dialog/hd-sprite.gif) repeat-x 0px -82px;
}
.ytip .ytip-close{
	background-image: url(./images/gray/basic-dialog/close.gif);
}
.ytip .ytip-bd{
	background: #e7e7e7 url(./images/gray/qtip/bg.gif);
	border: 1px solid #ababab;
}

/* BorderLayout */

.ylayout-container{
    background-color:#f3f2e7;
}
.ylayout-collapsed{
    background-color:#f3f2e7;
	 border:1px solid #aca899;
}
.ylayout-collapsed-over{
	 background-color:#fbfbef;
}
.ylayout-panel{
    border:1px solid #aca899;
}
.ylayout-nested-layout .ylayout-panel {
	  border:0px none;
}
.ylayout-split{
    background-color:#f3f2e7;
}
.ylayout-panel-hd{
    background-image: url(./images/gray/layout/panel-title-light-bg.gif);
    border-bottom:1px solid #aca899;
}
.ylayout-tools-button-over{
    border:1px solid #aca899;
}
.ylayout-close{
    background-image:url(./images/gray/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -48px;
}
.ylayout-collapse-west,.ylayout-expand-east{
    background-image:url(./images/gray/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.ylayout-expand-west,.ylayout-collapse-east{
    background-image:url(./images/gray/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -12px;
}
.ylayout-collapse-north,.ylayout-expand-south{
    background-image:url(./images/gray/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -24px;
}
.ylayout-expand-north,.ylayout-collapse-south{
    background-image:url(./images/gray/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -36px;
}
.ylayout-split-h{
    background-image:url(./images/gray/sizer/e-handle-dark.gif);
}
.ylayout-split-v{
    background-image:url(./images/gray/sizer/s-handle-dark.gif);
}
.ylayout-panel .ytab-wrap{
    background:url(./images/gray/layout/gradient-bg.gif);
}
.ylayout-nested-layout .ylayout-panel-north {
	  border-bottom:1px solid #aca899;
}
.ylayout-nested-layout .ylayout-panel-south {
	  border-top:1px solid #aca899;
}
.ylayout-nested-layout .ylayout-panel-east {
	  border-left:1px solid #aca899;
}
.ylayout-nested-layout .ylayout-panel-west {
	  border-right:1px solid #aca899;
}
.ylayout-panel-dragover {
	border: 2px solid #aca899;
}
.ylayout-panel-proxy {
	background-image: url(./images/gray/layout/gradient-bg.gif);
	background-color:#f3f2e7;
	border:1px dashed #aca899;
}
/** Resizable */

.yresizable-over .yresizable-handle-east, .yresizable-pinned .yresizable-handle-east{
    background:url(./images/gray/sizer/e-handle.gif);
	 background-position: left;
}
.yresizable-over .yresizable-handle-east, .yresizable-pinned .yresizable-handle-west{
    background:url(./images/gray/sizer/e-handle.gif);
	 background-position: left;
}
.yresizable-over .yresizable-handle-south, .yresizable-pinned .yresizable-handle-south{
    background:url(./images/gray/sizer/s-handle.gif);
    background-position: top;
}
.yresizable-over .yresizable-handle-south, .yresizable-pinned .yresizable-handle-north{
    background:url(./images/gray/sizer/s-handle.gif);
    background-position: top;
}
.yresizable-over .yresizable-handle-southeast, .yresizable-pinned .yresizable-handle-southeast{
    background:url(./images/gray/sizer/se-handle.gif);
    background-position: top left;
}
.yresizable-over .yresizable-handle-northwest,.yresizable-pinned .yresizable-handle-northwest{
    background:url(./images/gray/sizer/nw-handle.gif);
    background-position:bottom right;
}
.yresizable-over .yresizable-handle-northeast,.yresizable-pinned .yresizable-handle-northeast{
    background:url(./images/gray/sizer/ne-handle.gif);
    background-position: bottom left;
}
.yresizable-over .yresizable-handle-southwest,.yresizable-pinned .yresizable-handle-southwest{
    background:url(./images/gray/sizer/sw-handle.gif);
    background-position: top right;
}
.yresizable-proxy{
    border: 1px dashed #615e55;
}

/** Toolbar */
.ytoolbar{
	border:0px none;
	background: #efefe3 url(./images/gray/toolbar/gray-bg.gif) repeat-x;
	padding:3px;
}
