/** 
* Tabs
*/
.ytab-wrap, .ylayout-panel .ytabs-top .ytab-wrap {
   background:#deecfd;
	border:1px solid #8db2e3;
	padding-bottom:2px;
	padding-top:0px;
}
.ytab-strip-wrap{
	padding-top:1px;
	background:#cedff5 url(./images/aero/tabs/tab-strip-bg.gif) repeat-x bottom;
	border-bottom:1px solid #8db2e3;
}
.ytab-strip .ytab-text {
	color:#15428b;
	font-weight:normal;
}
.ytab-strip .on .ytab-text {
	cursor:default;
	color:#15428b;
}
.ytabs-top .ytab-strip .on .ytab-right {
	 background: url(./images/aero/tabs/tab-sprite.gif) no-repeat right 0px;
}
.ytabs-top .ytab-strip .on .ytab-left,.ytabs-top .ytab-strip .on a:hover .ytab-left{
	 background: url(./images/aero/tabs/tab-sprite.gif) no-repeat 0px -100px;
}
.ytabs-top .ytab-strip .ytab-right {
	 background:transparent url(./images/aero/tabs/tab-sprite.gif) no-repeat right -50px;
}
.ytabs-top .ytab-strip .ytab-left {
	background:transparent url(./images/aero/tabs/tab-sprite.gif) no-repeat 0px -150px;
}
.ytabs-top .yui-ext-tabbody {
	border:1px solid #8db2e3;
	border-top:0px none;
}
.ytabs-bottom .ytab-wrap, .ylayout-panel .ytabs-bottom .ytab-wrap {
   background:#deecfd;
	border:1px solid #8db2e3;
	padding-top:2px;
	padding-bottom:0px;
}
.ytabs-bottom .ytab-strip-wrap{
	padding-top:0px;
	padding-bottom:1px;
	background:#cedff5 url(./images/aero/tabs/tab-strip-btm-bg.gif) repeat-x top;
	border-top:1px solid #8db2e3;
	border-bottom:0px none;
}
.ytabs-bottom .ytab-strip .ytab-right {
	background:transparent url(./images/aero/tabs/tab-btm-inactive-right-bg.gif) no-repeat bottom right;
}
.ytabs-bottom .ytab-strip .ytab-left {
	background:transparent url(./images/aero/tabs/tab-btm-inactive-left-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-strip .on .ytab-right,.ytabs-bottom .ytab-strip .on a:hover {
	 background: url(./images/aero/tabs/tab-btm-right-bg.gif) no-repeat bottom left;
}
.ytabs-bottom .ytab-strip .on .ytab-left,.ytabs-bottom .ytab-strip .on a:hover .ytab-left {
	 background: url(./images/aero/tabs/tab-btm-left-bg.gif) no-repeat bottom right;
}
.ytabs-bottom .yui-ext-tabbody {
	border:1px solid #8db2e3;
	border-bottom:0px none;
}
/** 
* Basic-Dialog 
*/
.ydlg-proxy {
	background:#C7DFFC;
	border:1px solid #A5CCF9;
}
.ydlg-shadow{
	background:#cccccc;
   opacity:.3;
   -moz-opacity:.3;
   filter: alpha(opacity=30);
}
.ydlg {
	background:transparent;
}
.ydlg .ydlg-hd {
	background: url(./images/aero/basic-dialog/hd-sprite.gif) repeat-x 0px -82px;
	background-color:#aabaca;
	color:#15428b;
	zoom:1;
	padding-top:7px;
}
.ydlg .ydlg-hd-left {
	opacity:.85;-moz-opacity:.85;filter:alpha(opacity=80);
	background: url(./images/aero/basic-dialog/hd-sprite.gif) no-repeat 0px -41px;
	zoom:1;
}
.ydlg-modal .ydlg-hd-left {
	opacity:.75;-moz-opacity:.75;filter:alpha(opacity=70);
}

.ydlg .ydlg-hd-right {
	background: url(./images/aero/basic-dialog/hd-sprite.gif) no-repeat right 0px;
	zoom:1;
}
.ydlg .ydlg-dlg-body{
	padding:0px 0px 0px;
	position:absolute;
	top:24px;left:0px;
	z-index:1;
	border:0px none;
	background:transparent;
}
.ydlg .ydlg-bd{
	background:#fff;
	border:1px solid #96b9e6;
}
.ydlg .ydlg-ft{
	border:0px none;
	background:transparent;
	padding-bottom:8px;
}
.ydlg .ydlg-bg{
	filter:alpha(opacity=80);
	opacity:.85; 
	-moz-opacity:.85; 
	zoom:1;
}
.ydlg-modal .ydlg-bg {
	opacity:.75;-moz-opacity:.75;filter:alpha(opacity=70);
}
.ydlg .ydlg-bg-center {
	padding: 2px 7px 7px 7px;
	background:transparent url(./images/aero/basic-dialog/bg-center.gif) repeat-x bottom;
	zoom:1;
}
.ydlg .ydlg-bg-left{
	padding-left:7px;
	background:transparent url(./images/aero/basic-dialog/bg-left.gif) no-repeat bottom left;
	zoom:1;
}
.ydlg .ydlg-bg-right{
	padding-right:7px;
	background:transparent url(./images/aero/basic-dialog/bg-right.gif) no-repeat bottom right;
	zoom:1;
}
.ydlg-auto-tabs .ydlg-dlg-body, .ydlg-auto-layout .ydlg-dlg-body{
	background:transparent;
	border:0px none;
}
.ydlg-auto-tabs .ydlg-bd, .ydlg-auto-layout .ydlg-bd{
	background:#fff;
	border:1px solid #e9f3f5;
}
.ydlg-auto-tabs .ytabs-top .yui-ext-tabbody,.ydlg-auto-tabs .ytabs-bottom .yui-ext-tabbody{
    border-color:#8db2e3;
}
.ydlg-auto-tabs .ytabs-top .ytab-wrap,.ydlg-auto-tabs .ytabs-bottom .ytab-wrap{
    border-color:#8db2e3;
}
.ydlg .ydlg-close {
	width:21px;
	height:20px;
	top:5px;
	right:5px;
	opacity:.85;-moz-opacity:.85;filter:alpha(opacity=80);
	background-image:url(./images/aero/basic-dialog/aero-close.gif);
	zoom:1;
}
.ydlg .ydlg-close-over {
	background-image:url(./images/aero/basic-dialog/aero-close-over.gif);
}
.ydlg div.yresizable-handle-east{
	background-image:url(./images/aero/s.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-south{
	background-image:url(./images/aero/s.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-west{
	background-image:url(./images/aero/s.gif);
	border:0px none;
}
.ydlg div.yresizable-handle-southeast{
	background-image:url(./images/aero/basic-dialog/se-handle.gif);
	background-position: bottom right;
	width:9px;
	height:9px;
	border:0px;
	right:2px;
	bottom:2px;
}
.ydlg div.yresizable-handle-southwest{
	background-image:url(./images/aero/s.gif);
	background-position: top right;
	margin-left:1px;
	margin-bottom:1px;
	border:0px;
}
.ydlg div.yresizable-handle-north{
	background-image:url(./images/aero/s.gif);
	border:0px none;
}

#mb-dlg .ydlg-bd{
	background:#CFE0F5;
	border:0px none;
}

/* BorderLayout */
.ylayout-container{
    background:#deecfd;
}
.ylayout-collapsed{
    background-color:#deecfd;
	 border:1px solid #99bbe8;
}
.ylayout-collapsed-over{
	 background-color:#F5F9FE;
}
.ylayout-panel{
    border:1px solid #99bbe8;
}
.ylayout-nested-layout .ylayout-panel {
	  border:0px none;
}
.ylayout-split{
    background-color:#deecfd;
}
.ylayout-panel-hd{
    background-image: url(./images/aero/layout/panel-title-light-bg.gif);
    border-bottom:1px solid #c0d7f4;
}
.ylayout-panel-hd-text {
	color:#15428b;
}

.ylayout-split-h{
    background:#deecfd;
}
.ylayout-split-v{
    background:#deecfd;
}
.ylayout-panel .ytabs-top .ytab-wrap{
    border:0px none;
	 border-bottom:1px solid #8db2e3;
}
.ylayout-panel .ytabs-bottom .ytab-wrap{
    border:0px none;
	 border-top:1px solid #8db2e3;
}
.ylayout-container .yui-ext-tabbody{
	border:0px none;
}

.ylayout-nested-layout .ylayout-panel-north {
	  border-bottom:1px solid #99bbe8;
}
.ylayout-nested-layout .ylayout-panel-south {
	  border-top:1px solid #99bbe8;
}
.ylayout-nested-layout .ylayout-panel-east {
	  border-left:1px solid #99bbe8;
}
.ylayout-nested-layout .ylayout-panel-west {
	  border-right:1px solid #99bbe8;
}
.ylayout-panel-dragover {
	border: 2px solid #99bbe8;
}
.ylayout-panel-proxy {
	background-image: url(./images/aero/layout/gradient-bg.gif);
	background-color:#f3f2e7;
	border:1px dashed #99bbe8;
}
/** Resizable */

.yresizable-proxy{
    border: 1px dashed #3b5a82;
}

/* grid */
.ygrid-hd{
	border-bottom:0px;
	background:none;
}
.ygrid-hd-body {
	border-bottom:0px none;
}
.ygrid-hd-over {
	border-bottom:0px none;
}
.ygrid-hd-over .ygrid-hd-body{
	background:none;
	border-bottom:0px none;
}
.ygrid-hd-over .ygrid-hd-body{
	background-color: transparent;
	border-bottom:0px;
}
.ygrid-hd-split {
	background-image: url(./images/aero/grid/grid-split.gif);
}
.ygrid-hrow{
	background: url(./images/aero/grid/grid-hrow.gif);
	height: 22px;
	border:0px none;
}
.ygrid-row-alt{
	background-color: #f5f5f5;
}
.ygrid-row{
	border-bottom: 1px solid #eeeeee;
}
.ygrid-col{
	border-right:1px solid #eeeeee;
}
.ygrid-sort-col .ygrid-hd-body {
	padding-bottom:4px;
}

/** Toolbar */
.ytoolbar{
	border:0px none;
	background: #E2ECF8;
	padding:1px 3px;
	border-bottom:1px solid #c0d7f4;
}
.ytoolbar .ytb-button-over{
	border:1px solid #8db2e3;
}
.ytoolbar .ytb-sep{
	background-image: url(./images/aero/grid/grid-blue-split.gif);
}
