/*

Copyright 2008-2015 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published 
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

*/

/* @override https://www.example.com/css/compact.css */

body.compact div#mainDiv {
/*
	width: 250px;
	height: 95%;
	border: 1px solid #333366;
*/
	padding: 0px;
}

body.compact div#compactHeader {
	background-color: #333366;
}

body.compact div#compactHeader img {
	padding: 2px 20px 2px 4px;
	width: 60;
}

body.compact div#compactHeader a {
	color: white;
	text-decoration: none;
	font-size: 10pt;
/*	position: absolute; */
	right: 10px;
	top: 6px;
}

body.compact div#compactHeader a:hover {
	color: #ff9400;
}

body.compact h4 {
	color: #999999;
	text-align: center;
	padding: 20px;
	font-weight: normal;
	font-size: 12pt;
	font-style: italic;
}

body.compact div.loginPanel form {
	padding: 10px;
}

body.compact div.loginPanel dt {
	color: #aaaaaa;
	font-size: 10pt;
}

body.compact div.loginPanel input {
	width: 180px;
}

body.compact ul#directLogins {
	background-image: none;
	padding: 4px 0px;
}

body.compact ul#directLogins li {
	width:auto;
}

body.compact ul#directLogins li.hover {
	width:auto;
	padding-right: 0px;
}

body.compact div.lockPanel {
	color: #999999;
	font-size: 10pt;
	padding: 10px;
}

div#compactMiscLinks ul {
/*	text-align: center;	*/
	display: block;
	padding-left: 22px;
	background-color: #ff9400;
}

div#compactMiscLinks ul li {
	display: inline;
	padding: 2px 5px;
}

div#compactHeader div#compactMiscLinks ul li a {
	font-size: 9pt;
}

div#compactHeader div#compactMiscLinks ul li a:hover {
	color: #333366;
}

div#lockBlock {
	position: absolute;	
	right: 10px;
	top: 6px;
}

div#lockBlock input {
	width: auto;
	padding-bottom: 2px;
}

div#lockBlock span {
	font-size: 9pt;
	padding: 0px 5px 0px 4px;
	color: #aaaaaa;
}

div#lockBlock a#lock {
	font-size: 9pt;
}

/* @group Donate */

a#donateHeaderLink {
	font-weight: bold;	
}

div#compactMiscLinks a#donateHeaderIconLink img#donateHeaderLinkIcon {
	display: inline;
	position: absolute;
	top: 22px;
	left: 1px;
	width: 12px;
	height: 12px;
}



/* @end */