@import "style/reset.scss";
@import "structure/core.scss";
@import "structure/main.scss";
@import "structure/overlay.scss";

@import "style/fonts.scss";
@import "style/core.scss";
@import "style/page.scss";
@import "style/cards.scss";
@import "style/filterView.scss";
@import "style/userArea.scss";

// @import "style/hide";
// @import "OtherStyles";
// @import "loading.scss";

header.warning {
  position: absolute;
  z-index: 1000;
  background-color: orange;
  // color: red;
  width: 100%;
  font-size: 10pt;
  text-align: center;
  padding: 4px 0px;

  animation-name: flashing;
  animation-iteration-count: infinite;  
  animation-duration: 3s; 
}


@keyframes flashing {  
  0% { color: red; }
  33% { color: red; }
  34% { color: yellow; }
  66% { color: yellow; }
  67% { color: blue; }
  100% { color: blue; }
}