html {
	height: 100%;
	font-family: clipperz-font;
}

body {
	height: 100%;
	display: flex;
}

div.wrapper {
	height: 100%;
	width: 100%;
	display: block;
}

div.field {
	border: 1px solid lightgray; 
	& > p {
		margin: 3px;
	}
}

p.notice {
	width: 100%;
	z-index: 100;
	position: relative;
	display: block;
	top: 0;
	text-align: center;
	padding: 3px;
	background-color: $core-alternate-color;
	color: $main-text-color;
}

p.important {
	font-weight: bold;
}

#importPage {
	height: 100%;
}

div.hidden {
	@include hide-element
}

#shortcutsHelp:not(.hidden) {
	width: 70%;
	background-color: black;
	color: white;
	height: 40%;
	position: absolute;
	left: 25%;
	top: 10%;
	z-index: 15;
	padding: 5px;
	border-radius: 5px;
	
	display: flex;
	flex-wrap: wrap;

	& > p {
		flex: 50%;
		& > span {
			color: yellow;
			padding-right: 2em;
		}
	}
}

div.scrollable {
	overflow-y: auto;
	height: 100%;
}

div.fixedFoot {
	background-color: $core-alternate-color;
	width: 100%;
	display: flex;
	align-items: center;
	height: 10%;
	position: absolute;
	bottom: 0;
}

#app {
	width: 100%;
}

#homePage {
	display: flex;
	height: 100%;
}

#userSidebar {
	width: 25%;
	display: flex;
	flex-direction: column;
	background-color: $core-alternate-color;
	color: $core-alternate-text-color;
	position: relative;
	z-index: 11;
	padding: 2px;

	& > button {
		margin: 0.5%;
	}

	& > div, & > div > div {
		width: 99%;
		display: flex;
		flex-direction: column;
		margin: 0.5%;

		& > button {
			width: 100%;
			display: block;
		}
	}
}

div.hidden {
	@include hide-element;
}

.selected {
	border-left: solid 3px $accent-color;
}

#userPage.open {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	// justify-content: right;	

	& > div.userSidebarTop {
		position: absolute;
		right: 0;
		top: 0;
		width: 25%;
		height: 7%;
		z-index: 13;
		background-color: $core-alternate-color;
		padding: 2px;
		display: flex;
		justify-content: right;
	}
}

#userPage.close {
	position: absolute;
	left: 0;
}

.userSidebarOverlay {
	position: absolute;
	left: 0;
	top: 7%;
	width: 100%;
	height: 95%;
	display: flex;
	justify-content: right;
	
	& > div.forUser {
		background-color: $core-alternate-color;
		color: $main-text-color;
		z-index: 11;
		width: 75%;
		left: 0;
	}

	& > div.forUser > div > div.disableOverlay {
		left: 0;
		width: 75%;
	}

	& > div:first-child:not(.forUser) {
		background-color: rgba(128, 128, 128, 0.658);
		width: 100%;
	}

	& > div:first-child {
		position: fixed;
		height: 100%;
		top: 0;
		z-index: 9;
	}
	
}

.form > a {
	&:hover {
		font-weight: bold;
	}
	color: $alternate-text-color;
}

#cardsManager {
	width: 100%;
	height: 100%;
	display: flex;

	#filterView {
		background-color: $core-alternate-color;
		color: $main-text-color;

		li {
			& > div {
				display: flex;
				justify-content: space-between;
				padding-right: 10px;

				& > div {
					display: block;
					color: $alternate-text-color;
					background-color: $alternate-color;
					border-radius: 5px;
					padding: 3px 5px;
				}
			}
			
			&:hover {
				font-weight: bold;
			}
		}

		#archivedFilterArea > div {
			position: absolute;
			bottom: 0;
			display: flex;
			& > label {
				font-size: 70%;
				& > div {
					display: flex;
					justify-content: space-between;
					padding-right: 5px;

					& > div {
						display: block;
						color: $alternate-text-color;
						background-color: $alternate-color;
						border-radius: 5px;
						padding: 3px 5px;
					}
				}
				
				&:hover {
					font-weight: bold;
				}
			}
		}
		
		#generalFilterArea > div > label {
			@include hide-element
		}

		#tagFilter {
			padding-left: 10px;
		}
	}

	& > div:nth-child(2) {
		display: flex;
		width: 100%;
		flex-direction: column;

		#filterHeader {
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		#mainView {
			background-color: $alternate-color;
			display: flex;
			flex-direction: row;
			height: calc(100% - 30px);
		}
	}
}

#importPage {
	height: 100%;
}

div.importInput, div.importPage {
	height: 100%;
}

div.dropFile.highlight {
	border: 1px solid green;
}

div.dropFile {
	position: relative;
	width: 80%;
	height: 30%;
	border: 1px solid $alternate-color;
	text-align: center;
}

#indexView {
	height: 100%;
	width: 30%;
    border: 1px solid gray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#indexView > ol {
	overflow-y: auto;
}

#card {
	height: 100%;
	width: 70%;
	border: 1px solid gray;

	.cardActions {
		display: flex;
		
		button {
			flex-grow: 1;
		}
	}
}
.test {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.draggingElem {
	opacity: 0.5;
	// position: absolute;
	border: 1px solid red;
}

.dropzone {
	width: 50%;
	background-color: blue;
	height: 2px;
}

.dragHandle {
	background-color: gray;
	display: block;
}

.dropzone.selected {
	background-color: green;
	height: 15px;
}

.draggableElem {
	padding: 5px
}

.selectedDropElement {
	// padding: 10px;
}

.dragAndDropElem {
	width: 100%;
	border: 1px solid black;
	background-color: white;
	display: inline-flex;
	flex-direction: column;
}

.dragAndDropElem.selected {
	background-color: gray;
}

#cardForm {
	height: 100%;
	width: 70%;
	border: 1px solid gray;
	color: $alternate-text-color;
}

#cardContent {
	height: 100%;
	overflow-y: auto;
	color: $alternate-text-color;
}

.cardForm {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: white;
	z-index: 9;
	overflow-y: auto;
	align-items: stretch;
	justify-content: space-between;
	
	.cardFormFields {
		overflow-y: auto;
		
		.cardField {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		
			button {
				align-self: flex-start;
			}
		
			.inputs {
				flex-grow: 1;
				padding-left: 10px;
				padding-right: 10px;
		
				label {
					@include hide-element
				}
				
				input {
					width: 100%;
				}
			}
		}
		
		div.textarea {
			display: flex;
	
			textarea {
				flex-grow: 1;
				resize: none;
				padding: 3px;
				margin: 10px;
			}
		}
	}

	.submitButtons {
		display: flex;

		button {
			flex-grow: 1;
		}
	}

	.passwordGeneratorOverlay {
		position: absolute;
		left: 0;

		& > div:first-child {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			z-index: 10;
		}
		
		& > div:nth-child(2) {
			position: relative;
			background-color: rgba(51, 51, 51);
			z-index: 11;
		}
		
	}
}

#indexView > ol > li {
	min-height: 20px;
	border-bottom: 0.5px solid rgba(128, 128, 128, 0.658);
	color: $alternate-text-color;
}

#changePasswordArea {
	border: 1px solid gray;
}

.disabled {
	background-color: grey;	
}

.selected {
	background-color: rgba(123, 185, 224, 0.489);
}

li.archived {
	color: gray;
}

.disableOverlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(109, 109, 109, 0.682);
	z-index: 8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(109, 109, 109, 0.682);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	z-index: 10;
}

input[type=number] {
	-moz-appearance: textfield;
}
