div {
    border: 1px solid gray;
}

.disabled {
	background-color: grey;	
}

#cardsManager {
	display: flex;	
}

#indexView {
	flex-grow: 1;
}

#cardView {
	flex-grow: 3;
}

#indexView > ol > li {
	height: 20px;
	border-bottom: 0.5px solid rgba(128, 128, 128, 0.658);
}

.selected {
	background-color: rgba(123, 185, 224, 0.489);
}

li.archived {
	color: gray;
}
