<!--

Copyright 2008-2015 Clipperz Srl

This file is part of Clipperz, the online password manager.
For further information about its features and functionalities please
refer to http://www.clipperz.com.

* Clipperz is free software: you can redistribute it and/or modify it 
  under the terms of the GNU Affero General Public License as published
  by the Free Software Foundation, either version 3 of the License, or 
  (at your option) any later version.

* Clipperz is distributed in the hope that it will be useful, but 
  WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Affero General Public License for more details.

* You should have received a copy of the GNU Affero General Public
  License along with Clipperz. If not, see http://www.gnu.org/licenses/.

-->

<html>
<head>
	<title>Cross Window Bookmarklet execution - test</title>
    <script type="text/javascript" src="../../../../js/MochiKit/MochiKit.js"></script>
    <script type='text/javascript' src='../../../../js/JSON/json2.js'></script>

    <script type='text/javascript' src='../../../../js/Clipperz/YUI/Utils.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/YUI/DomHelper.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Base.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Date.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/DOM.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/ByteArray.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Logging.js'></script>
    <script type='text/javascript' src='../../../../js/Clipperz/Async.js'></script>

	<script type='text/javascript' src='../../../../js/Clipperz/Signal.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/Style.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/Visual.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/Set.js'></script>
	<script type='text/javascript' src='../../../../js/Clipperz/KeyValueObjectStore.js'></script>

    <script type='text/javascript' src='./CrossWindowsBookmarklet_test.js'></script>
<script>
	Clipperz_IEisBroken = false;
</script>

<!--[if IE]><script>
Clipperz_IEisBroken = true;
</script><![endif]-->

	<link rel="stylesheet" type="text/css" href="../../../../css/clipperz/clipperz.css" />
	<link rel="stylesheet" type="text/css" href="../../../../css/clipperz/compact.css" />
	<link rel="stylesheet" type="text/css" href="../../../../css/clipperz/ytheme-clipperz.css" />

</head>
<body>

<div id="tableWrapper"></div>

<ul>
	<li><a href="#" id="newWindow">open window</a></li>
	<li><a href="#" id="runBookmarkletScript">run bookmarklet script</a></li>
</ul>
</body>
</html>
